// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armcontainerservice

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// Client contains the methods for the ContainerService group.
// Don't use this type directly, use NewClient() instead.
type Client struct {
	internal       *arm.Client
	subscriptionID string
}

// NewClient creates a new instance of Client with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - Contains optional client configuration. Pass nil to accept the default values.
func NewClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*Client, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &Client{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// NewListNodeImageVersionsPager - Only returns the latest version of each node image. For example there may be an AKSUbuntu-1804gen2containerd-2024.01.26,
// but only AKSUbuntu-1804gen2containerd-2024.02.02 is visible in this list.
//
// Generated from API version 2025-10-02-preview
//   - location - The name of the Azure region.
//   - options - ClientListNodeImageVersionsOptions contains the optional parameters for the Client.NewListNodeImageVersionsPager
//     method.
func (client *Client) NewListNodeImageVersionsPager(location string, options *ClientListNodeImageVersionsOptions) *runtime.Pager[ClientListNodeImageVersionsResponse] {
	return runtime.NewPager(runtime.PagingHandler[ClientListNodeImageVersionsResponse]{
		More: func(page ClientListNodeImageVersionsResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *ClientListNodeImageVersionsResponse) (ClientListNodeImageVersionsResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "Client.NewListNodeImageVersionsPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listNodeImageVersionsCreateRequest(ctx, location, options)
			}, nil)
			if err != nil {
				return ClientListNodeImageVersionsResponse{}, err
			}
			return client.listNodeImageVersionsHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listNodeImageVersionsCreateRequest creates the ListNodeImageVersions request.
func (client *Client) listNodeImageVersionsCreateRequest(ctx context.Context, location string, _ *ClientListNodeImageVersionsOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.ContainerService/locations/{location}/nodeImageVersions"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if location == "" {
		return nil, errors.New("parameter location cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{location}", url.PathEscape(location))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2025-10-02-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listNodeImageVersionsHandleResponse handles the ListNodeImageVersions response.
func (client *Client) listNodeImageVersionsHandleResponse(resp *http.Response) (ClientListNodeImageVersionsResponse, error) {
	result := ClientListNodeImageVersionsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.NodeImageVersionsListResult); err != nil {
		return ClientListNodeImageVersionsResponse{}, err
	}
	return result, nil
}
