{{- if and .Values.updater.enabled .Values.rbac.create -}}
{{- if eq (include "vertical-pod-autoscaler.updater.leaderElectionEnabled" .) "true" }}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "vertical-pod-autoscaler.updater.fullname" . }}-leader-locking
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "vertical-pod-autoscaler.updater.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - "coordination.k8s.io"
    resources:
      - leases
    verbs:
      - create
  - apiGroups:
      - "coordination.k8s.io"
    resourceNames:
      - {{ .Values.updater.leaderElection.resourceName }}
    resources:
      - leases
    verbs:
      - get
      - watch
      - update
{{- end -}}
{{- end -}}
