{{- if .Values.rbac.create -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  labels:
{{ include "cluster-autoscaler.labels" . | indent 4 }}
  name: {{ template "cluster-autoscaler.fullname" . }}
  namespace: {{ .Release.Namespace }}
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - create
{{- if (include "cluster-autoscaler.priorityExpanderEnabled" .) }}
      - list
      - watch
{{- end }}
  - apiGroups:
      - ""
    resources:
      - configmaps
    resourceNames:
      - cluster-autoscaler-status
{{- if (include "cluster-autoscaler.priorityExpanderEnabled" .) }}
      - cluster-autoscaler-priority-expander
{{- end }}
    verbs:
      - delete
      - get
      - update
{{- if (include "cluster-autoscaler.priorityExpanderEnabled" .) }}
      - watch
{{- end }}
{{- if  eq (default "" (index .Values.extraArgs "leader-elect-resource-lock")) "configmaps" }}
  - apiGroups:
      - ""
    resources:
      - configmaps
    resourceNames:
      - cluster-autoscaler
    verbs:
      - get
      - update
{{- end }}
{{- if and ( and ( eq .Values.cloudProvider "clusterapi" ) ( not .Values.rbac.clusterScoped ) ( or ( eq .Values.clusterAPIMode "incluster-incluster" ) ( eq .Values.clusterAPIMode "kubeconfig-incluster" ) ))}}
  - apiGroups:
    - cluster.x-k8s.io
    resources:
    - machinedeployments
    - machinepools
    - machines
    - machinesets
    verbs:
    - get
    - list
    - update
    - watch
  - apiGroups:
    - cluster.x-k8s.io
    resources:
    - machinedeployments/scale
    - machinepools/scale
    verbs:
    - get
    - patch
    - update
{{- end }}
{{- if ( not .Values.rbac.clusterScoped ) }}
  - apiGroups:
    - coordination.k8s.io
    resources:
    - leases
    verbs:
    - create
  - apiGroups:
    - coordination.k8s.io
    resourceNames:
    - cluster-autoscaler
    resources:
    - leases
    verbs:
    - get
    - update
{{- end }}
{{- end -}}
