apiVersion: v1
kind: ServiceAccount
metadata:
  name: recommender
  namespace: kube-system
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: recommender
  namespace: kube-system
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: recommender
    spec:
      serviceAccountName: recommender
      containers:
      - name: recommender
        image: gcr.io/karol-kubernetes/recommender:0.0.1
        imagePullPolicy: Always
        resources:
          limits:
            cpu: 500m
            memory: 2000Mi
          requests:
            cpu: 250m
            memory: 500Mi
        ports:
        - containerPort: 8080