# Image pull secrets.
imagePullSecrets: []

# Override the name of the chart.
nameOverride:

# Override the full name of the chart.
fullnameOverride:

# Labels to add to all chart resources.
commonLabels: {}

rbac:
  # If `true`, create `ClusterRole` & `ClusterRoleBinding` resources to enable access to the Kubernetes API.
  create: true

podSecurityContext:
  runAsNonRoot: true
  runAsUser: 65534

containerSecurityContext: {}

admissionController:
  enabled: true
  image:
    # Image repository for the Admission Controller default container.
    repository: registry.k8s.io/autoscaling/vpa-admission-controller
    # Image tag for the Admission Controller default container; this will default to `.Chart.AppVersion` if not set
    tag:
    # Image pull policy for the Admission Controller default container.
    pullPolicy: IfNotPresent

  serviceAccount:
    # If `true`, create a new `ServiceAccount` for the Admission Controller.
    create: true
    # Labels to add to the Admission Controller service account.
    labels: {}
    # Annotations to add to the Admission Controller service account.
    annotations: {}

  service:
    name: vpa-webhook
    # Annotations to add to the Admission Controller service.
    annotations: {}
    ports:
      - port: 443
        protocol: TCP
        targetPort: 8000

  # Number of Admission Controller replicas to create.
  replicas: 2

  # Labels to add to the Admission Controller pod.
  podLabels: {}

  # Annotations to add to the Admission Controller pod.
  podAnnotations: {}

  # Additional environment variables for the Admission Controller default container.
  extraEnv: []

  # Additional args for the Admission Controller default container.
  extraArgs: []

  # Resources for the Admission Controller default container.
  resources: {}
    # limits:
    #   cpu: 200m
    #   memory: 500Mi
    # requests:
    #   cpu: 50m
    #   memory: 200Mi

  # Node selector labels for scheduling the Admission Controller.
  nodeSelector: {}

  # Affinity for pod assignment.
  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        podAffinityTerm:
          labelSelector:
            matchExpressions:
            - key: app.kubernetes.io/component
              operator: In
              values:
              - admission-controller
          topologyKey: kubernetes.io/hostname

  # List of node taints to tolerate.
  tolerations: []

  # Whether to register webhook via the application itself or via Helm
  # Set to false when using Helm-managed webhook
  registerWebhook: false

  certGen:
    enabled: true
    image:
      # admissionController.certGen.image.repository -- An image that contains certgen for creating certificates.
      repository: registry.k8s.io/ingress-nginx/kube-webhook-certgen
      # admissionController.certGen.image.tag -- An image tag for the admissionController.certGen.image.repository image.
      tag: v20231011-8b53cabe0
      # admissionController.certGen.image.pullPolicy -- The pull policy for the certgen image. Recommend not changing this
      pullPolicy: IfNotPresent
       # admissionController.certGen.env -- Additional environment variables to be added to the certgen container. Format is KEY: Value format
    env: {}
    # admissionController.certGen.resources -- The resources block for the certgen pod
    resources: {}
    # admissionController.certGen.podSecurityContext -- The securityContext block for the certgen pod(s)
    podSecurityContext:
      runAsNonRoot: true
      runAsUser: 65534
      seccompProfile:
        type: RuntimeDefault
    # admissionController.certGen.securityContext -- The securityContext block for the certgen container(s)
    securityContext:
      readOnlyRootFilesystem: true
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL
    nodeSelector: {}
    tolerations: []
    affinity: {}

  mutatingWebhookConfiguration:
    # admissionController.mutatingWebhookConfiguration.annotations -- Additional annotations for the MutatingWebhookConfiguration
    annotations: {}
    # admissionController.mutatingWebhookConfiguration.failurePolicy -- The failurePolicy for the mutating webhook. Allowed values are: Ignore, Fail
    failurePolicy: Ignore
    # admissionController.mutatingWebhookConfiguration.namespaceSelector -- The namespaceSelector controls which namespaces are affected by the webhook
    namespaceSelector: {}
    # admissionController.mutatingWebhookConfiguration.objectSelector -- The objectSelector can filter objects on e.g. labels
    objectSelector: {}
    # admissionController.mutatingWebhookConfiguration.timeoutSeconds -- Sets the amount of time the API server will wait on a response from the webhook service
    timeoutSeconds: 5


  tls:
    # If true, Helm will generate the TLS secret using genCA/genSignedCert
    create: false
    # Name of the TLS secret
    secretName: vpa-tls-certs
    caCert: ""
    cert: ""
    key: ""

  volumes:
    - name: tls-certs
      secret:
        defaultMode: 420
        secretName: vpa-tls-certs
        items:
          - key: ca
            path: caCert.pem
          - key: cert
            path: serverCert.pem
          - key: key
            path: serverKey.pem

  volumeMounts:
    - name: tls-certs
      mountPath: /etc/tls-certs
      readOnly: true

  podDisruptionBudget:
    enabled: true
    # -- (int or string) Minimum number/percentage of pods that must be available after the eviction.
    # IMPORTANT: You can specify either 'minAvailable' or 'maxUnavailable', but not both.
    minAvailable: 1
    # -- (int or string) Maximum number/percentage of pods that can be unavailable after the eviction.
    # IMPORTANT: You can specify either 'minAvailable' or 'maxUnavailable', but not both.
    maxUnavailable:
    # maxUnavailable: 1

  # name of priorityclass for scheduling
  priorityClassName:
  # priorityClassName : high-priority

recommender:
  enabled: true
  image:
    # Image repository for the Recommender default container.
    repository: registry.k8s.io/autoscaling/vpa-recommender
    # Image tag for the Recommender default container; this will default to `.Chart.AppVersion` if not set
    tag:
    # Image pull policy for the Recommender default container.
    pullPolicy: IfNotPresent

  serviceAccount:
    # If `true`, create a new `ServiceAccount` for the Recommender.
    create: true
    # Labels to add to the Recommender service account.
    labels: {}
    # Annotations to add to the Recommender service account.
    annotations: {}

  # Number of Recommender replicas to create.
  replicas: 2

  # Labels to add to the Recommender pod.
  podLabels: {}

  # Annotations to add to the Recommender pod.
  podAnnotations: {}

  # Additional environment variables for the Recommender default container.
  extraEnv: []

  # Additional args for the Recommender default container.
  extraArgs: []

  # Resources for the Recommender default container.
  resources: {}
    # limits:
    #   cpu: 200m
    #   memory: 1000Mi
    # requests:
    #   cpu: 50m
    #   memory: 500Mi

  # Node selector labels for scheduling the Recommender.
  nodeSelector: {}

  # Affinity rules for scheduling the Recommender.
  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        podAffinityTerm:
          labelSelector:
            matchExpressions:
            - key: app.kubernetes.io/component
              operator: In
              values:
              - recommender
          topologyKey: kubernetes.io/hostname

  # Tolerations for scheduling the Recommender.
  tolerations: []

  # Leader election configuration for the Recommender.
  # When running multiple replicas, leader election ensures only one instance is actively processing.
  leaderElection:
    # Enable leader election. If not set (null), automatically enabled when replicas > 1
    enabled:
    # Namespace for the lease resource. Defaults to Release.Namespace if not set.
    resourceNamespace: ""
    # Name of the lease resource.
    resourceName: "vpa-recommender-lease"
    # Duration that non-leader candidates will wait after observing a leadership renewal.
    leaseDuration: "15s"
    # Interval between attempts by the acting master to renew a leadership slot.
    renewDeadline: "10s"
    # Duration the clients should wait between attempting acquisition and renewal of a leadership.
    retryPeriod: "2s"

  # PodDisruptionBudget for the Recommender.
  podDisruptionBudget:
    enabled: true
    # -- (int or string) Minimum number/percentage of pods that must be available after the eviction.
    # IMPORTANT: You can specify either 'minAvailable' or 'maxUnavailable', but not both.
    minAvailable: 1
    # -- (int or string) Maximum number/percentage of pods that can be unavailable after the eviction.
    # IMPORTANT: You can specify either 'minAvailable' or 'maxUnavailable', but not both.
    maxUnavailable:
    # maxUnavailable: 1

  # name of priorityclass for scheduling
  priorityClassName:
  # priorityClassName : high-priority

updater:
  enabled: true

  # Additional args for the updater
  extraArgs: []

  image:
    # Image repository for the Updater default container.
    repository: registry.k8s.io/autoscaling/vpa-updater
    # Image tag for the Updater default container; this will default to `.Chart.AppVersion` if not set
    tag:
    # Image pull policy for the Updater default container.
    pullPolicy: IfNotPresent

  # Number of Updater replicas to create.
  replicas: 2

  # Labels to add to the Updater pod.
  podLabels: {}

  # Annotations to add to the Updater pod.
  podAnnotations: {}
  serviceAccount:
    # If `true`, create a new `ServiceAccount` for the Updater.
    create: true
    # Labels to add to the Updater service account.
    labels: {}
    # Annotations to add to the Updater service account.
    annotations: {}

  # Affinity rules for scheduling the Updater.
  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        podAffinityTerm:
          labelSelector:
            matchExpressions:
            - key: app.kubernetes.io/component
              operator: In
              values:
              - updater
          topologyKey: kubernetes.io/hostname

  # Node selector labels for scheduling the Updater.
  nodeSelector: {}

  # Tolerations for scheduling the Updater.
  tolerations: []

  # Leader election configuration for the Updater.
  # When running multiple replicas, leader election ensures only one instance is actively processing.
  leaderElection:
    # Enable leader election. If not set (null), automatically enabled when replicas > 1
    enabled:
    # Namespace for the lease resource. Defaults to Release.Namespace if not set.
    resourceNamespace: ""
    # Name of the lease resource.
    resourceName: vpa-updater-lease
    # Duration that non-leader candidates will wait after observing a leadership renewal.
    leaseDuration: 15s
    # Interval between attempts by the acting master to renew a leadership slot.
    renewDeadline: 10s
    # Duration the clients should wait between attempting acquisition and renewal of a leadership.
    retryPeriod: 2s

  # PodDisruptionBudget for the Updater.
  podDisruptionBudget:
    enabled: true
    # -- (int or string) Minimum number/percentage of pods that must be available after the eviction.
    # IMPORTANT: You can specify either 'minAvailable' or 'maxUnavailable', but not both.
    minAvailable: 1
    # -- (int or string) Maximum number/percentage of pods that can be unavailable after the eviction.
    # IMPORTANT: You can specify either 'minAvailable' or 'maxUnavailable', but not both.
    maxUnavailable:

  # Resources for the updater Controller
  resources: {}
    # limits:
    #   cpu: 200m
    #   memory: 500Mi
    # requests:
    #   cpu: 50m
    #   memory: 200Mi

  # name of priorityclass for scheduling
  priorityClassName:
  # priorityClassName : high-priority
