---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: capacityquotas.autoscaling.x-k8s.io
spec:
  group: autoscaling.x-k8s.io
  names:
    kind: CapacityQuota
    listKind: CapacityQuotaList
    plural: capacityquotas
    shortNames:
    - cq
    singular: capacityquota
  scope: Cluster
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: |-
          CapacityQuota limits the amount of resources that can be provisioned in the cluster
          by the node autoscaler. Resources used are calculated by summing up resources
          reported in the status.capacity field of each node passing the configured
          label selector. When making a provisioning decision, node autoscaler will
          take all CapacityQuota objects that match the labels of the upcoming node.
          If provisioning that node would exceed any of the matching quotas, node
          autoscaler will not provision it. Quotas are best-effort, and it is possible
          that in rare circumstances node autoscaler will exceed them, for example
          due to stale caches.
          More info: https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/proposals/granular-resource-limits.md
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: spec defines the desired state of CapacityQuota
            properties:
              limits:
                description: Limits define quota limits.
                properties:
                  resources:
                    additionalProperties:
                      anyOf:
                      - type: integer
                      - type: string
                      pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                      x-kubernetes-int-or-string: true
                    description: |-
                      Resources define resource limits of this quota.

                      Currently supported built-in resources: cpu, memory. Additionally,
                      nodes key can be used to limit the number of existing nodes.
                      Node autoscaler implementations and cloud providers can support custom
                      resources, such as GPU.
                    type: object
                required:
                - resources
                type: object
              selector:
                description: |-
                  Selector is a label selector selecting the nodes to which the quota applies.
                  Empty or nil selector matches all nodes.
                properties:
                  matchExpressions:
                    description: matchExpressions is a list of label selector requirements.
                      The requirements are ANDed.
                    items:
                      description: |-
                        A label selector requirement is a selector that contains values, a key, and an operator that
                        relates the key and values.
                      properties:
                        key:
                          description: key is the label key that the selector applies
                            to.
                          type: string
                        operator:
                          description: |-
                            operator represents a key's relationship to a set of values.
                            Valid operators are In, NotIn, Exists and DoesNotExist.
                          type: string
                        values:
                          description: |-
                            values is an array of string values. If the operator is In or NotIn,
                            the values array must be non-empty. If the operator is Exists or DoesNotExist,
                            the values array must be empty. This array is replaced during a strategic
                            merge patch.
                          items:
                            type: string
                          type: array
                          x-kubernetes-list-type: atomic
                      required:
                      - key
                      - operator
                      type: object
                    type: array
                    x-kubernetes-list-type: atomic
                  matchLabels:
                    additionalProperties:
                      type: string
                    description: |-
                      matchLabels is a map of {key,value} pairs. A single {key,value} in the matchLabels
                      map is equivalent to an element of matchExpressions, whose key field is "key", the
                      operator is "In", and the values array contains only "value". The requirements are ANDed.
                    type: object
                type: object
                x-kubernetes-map-type: atomic
            required:
            - limits
            type: object
          status:
            description: status defines the observed state of CapacityQuota
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
