# Ignore git and GitHub folders
.git
.github

# Ignore Go binaries and build artifacts
cluster-autoscaler-*

# Ignore test files
*_test.go
e2e/

# Ignore documentation and other non-build files
*.md
LICENSE
OWNERS
OWNERS_ALIASES
CONTRIBUTING.md
SECURITY_CONTACTS
code-of-conduct.md
cloudbuild.yaml
Makefile
push_image.sh
update_toc.py
*.txt
