{
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "SetMaintenancePolicyRequest": {
      "type": "object",
      "properties": {
        "clusterId": {
          "description": "The name of the cluster to update.",
          "type": "string"
        },
        "name": {
          "description": "The name (project, location, cluster id) of the cluster to set maintenance\npolicy.\nSpecified in the format 'projects/*/locations/*/clusters/*'.",
          "type": "string"
        },
        "maintenancePolicy": {
          "description": "The maintenance policy to be set for the cluster. An empty field\nclears the existing maintenance policy.",
          "$ref": "MaintenancePolicy"
        },
        "projectId": {
          "description": "The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).",
          "type": "string"
        },
        "zone": {
          "description": "The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.",
          "type": "string"
        }
      },
      "id": "SetMaintenancePolicyRequest",
      "description": "SetMaintenancePolicyRequest sets the maintenance policy for a cluster."
    },
    "SetNodePoolManagementRequest": {
      "description": "SetNodePoolManagementRequest sets the node management properties of a node\npool.",
      "type": "object",
      "properties": {
        "zone": {
          "description": "The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "name": {
          "description": "The name (project, location, cluster, node pool id) of the node pool to set\nmanagement properties. Specified in the format\n'projects/*/locations/*/clusters/*/nodePools/*'.",
          "type": "string"
        },
        "projectId": {
          "description": "The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "management": {
          "$ref": "NodeManagement",
          "description": "NodeManagement configuration for the node pool."
        },
        "clusterId": {
          "description": "The name of the cluster to update.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "nodePoolId": {
          "type": "string",
          "description": "The name of the node pool to update.\nThis field is deprecated, use name instead."
        }
      },
      "id": "SetNodePoolManagementRequest"
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`."
    },
    "MasterAuthorizedNetworksConfig": {
      "description": "Configuration options for the master authorized networks feature. Enabled\nmaster authorized networks will disallow all external traffic to access\nKubernetes master through HTTPS except traffic from the given CIDR blocks,\nGoogle Compute Engine Public IPs and Google Prod IPs.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether or not master authorized networks is enabled.",
          "type": "boolean"
        },
        "cidrBlocks": {
          "description": "cidr_blocks define up to 10 external networks that could access\nKubernetes master through HTTPS.",
          "items": {
            "$ref": "CidrBlock"
          },
          "type": "array"
        }
      },
      "id": "MasterAuthorizedNetworksConfig"
    },
    "CreateClusterRequest": {
      "id": "CreateClusterRequest",
      "description": "CreateClusterRequest creates a cluster.",
      "type": "object",
      "properties": {
        "cluster": {
          "$ref": "Cluster",
          "description": "A [cluster\nresource](/container-engine/reference/rest/v1alpha1/projects.zones.clusters)"
        },
        "projectId": {
          "description": "The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis field is deprecated, use parent instead.",
          "type": "string"
        },
        "zone": {
          "description": "The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field is deprecated, use parent instead.",
          "type": "string"
        },
        "parent": {
          "description": "The parent (project and location) where the cluster will be created.\nSpecified in the format 'projects/*/locations/*'.",
          "type": "string"
        }
      }
    },
    "ListNodePoolsResponse": {
      "properties": {
        "nodePools": {
          "description": "A list of node pools for a cluster.",
          "items": {
            "$ref": "NodePool"
          },
          "type": "array"
        }
      },
      "id": "ListNodePoolsResponse",
      "description": "ListNodePoolsResponse is the result of ListNodePoolsRequest.",
      "type": "object"
    },
    "CompleteIPRotationRequest": {
      "properties": {
        "projectId": {
          "description": "The Google Developers Console [project ID or project\nnumber](https://developers.google.com/console/help/new/#projectnumber).\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field is deprecated, use name instead."
        },
        "clusterId": {
          "description": "The name of the cluster.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "name": {
          "description": "The name (project, location, cluster id) of the cluster to complete IP rotation.\nSpecified in the format 'projects/*/locations/*/clusters/*'.",
          "type": "string"
        }
      },
      "id": "CompleteIPRotationRequest",
      "description": "CompleteIPRotationRequest moves the cluster master back into single-IP mode.",
      "type": "object"
    },
    "StartIPRotationRequest": {
      "properties": {
        "name": {
          "description": "The name (project, location, cluster id) of the cluster to start IP rotation.\nSpecified in the format 'projects/*/locations/*/clusters/*'.",
          "type": "string"
        },
        "projectId": {
          "description": "The Google Developers Console [project ID or project\nnumber](https://developers.google.com/console/help/new/#projectnumber).\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "zone": {
          "description": "The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "clusterId": {
          "description": "The name of the cluster.\nThis field is deprecated, use name instead.",
          "type": "string"
        }
      },
      "id": "StartIPRotationRequest",
      "description": "StartIPRotationRequest creates a new IP for the cluster and then performs\na node upgrade on each node pool to point to the new IP.",
      "type": "object"
    },
    "AcceleratorConfig": {
      "description": "AcceleratorConfig represents a Hardware Accelerator request.",
      "type": "object",
      "properties": {
        "acceleratorType": {
          "description": "The accelerator type resource name. List of supported accelerators\n[here](/compute/docs/gpus/#Introduction)",
          "type": "string"
        },
        "acceleratorCount": {
          "format": "int64",
          "description": "The number of the accelerator cards exposed to an instance.",
          "type": "string"
        }
      },
      "id": "AcceleratorConfig"
    },
    "NodePool": {
      "type": "object",
      "properties": {
        "selfLink": {
          "description": "[Output only] Server-defined URL for the resource.",
          "type": "string"
        },
        "instanceGroupUrls": {
          "description": "[Output only] The resource URLs of [instance\ngroups](/compute/docs/instance-groups/) associated with this\nnode pool.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "version": {
          "description": "[Output only] The version of the Kubernetes of this node.",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the node pool is being created.",
            "The RUNNING state indicates the node pool has been created\nand is fully usable.",
            "The RUNNING_WITH_ERROR state indicates the node pool has been created\nand is partially usable. Some error state has occurred and some\nfunctionality may be impaired. Customer may need to reissue a request\nor trigger a new update.",
            "The RECONCILING state indicates that some work is actively being done on\nthe node pool, such as upgrading node software. Details can\nbe found in the `statusMessage` field.",
            "The STOPPING state indicates the node pool is being deleted.",
            "The ERROR state indicates the node pool may be unusable. Details\ncan be found in the `statusMessage` field."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RUNNING_WITH_ERROR",
            "RECONCILING",
            "STOPPING",
            "ERROR"
          ],
          "description": "[Output only] The status of the nodes in this pool instance.",
          "type": "string"
        },
        "config": {
          "$ref": "NodeConfig",
          "description": "The node configuration of the pool."
        },
        "statusMessage": {
          "description": "[Output only] Additional information about the current status of this\nnode pool instance, if available.",
          "type": "string"
        },
        "name": {
          "description": "The name of the node pool.",
          "type": "string"
        },
        "autoscaling": {
          "$ref": "NodePoolAutoscaling",
          "description": "Autoscaler configuration for this NodePool. Autoscaler is enabled\nonly if a valid configuration is present."
        },
        "management": {
          "description": "NodeManagement configuration for this NodePool.",
          "$ref": "NodeManagement"
        },
        "initialNodeCount": {
          "format": "int32",
          "description": "The initial node count for the pool. You must ensure that your\nCompute Engine \u003ca href=\"/compute/docs/resource-quotas\"\u003eresource quota\u003c/a\u003e\nis sufficient for this number of instances. You must also have available\nfirewall and routes quota.",
          "type": "integer"
        }
      },
      "id": "NodePool",
      "description": "NodePool contains the name and configuration for a cluster's node pool.\nNode pools are a set of nodes (i.e. VM's), with a common configuration and\nspecification, under the control of the cluster master. They may have a set\nof Kubernetes labels applied to them, which may be used to reference them\nduring pod scheduling. They may also be resized up or down, to accommodate\nthe workload."
    },
    "SetLabelsRequest": {
      "description": "SetLabelsRequest sets the Google Cloud Platform labels on a Google Container\nEngine cluster, which will in turn set them for Google Compute Engine\nresources used by that cluster",
      "type": "object",
      "properties": {
        "labelFingerprint": {
          "description": "The fingerprint of the previous set of labels for this resource,\nused to detect conflicts. The fingerprint is initially generated by\nContainer Engine and changes after every request to modify or update\nlabels. You must always provide an up-to-date fingerprint hash when\nupdating or changing labels. Make a \u003ccode\u003eget()\u003c/code\u003e request to the\nresource to get the latest fingerprint.",
          "type": "string"
        },
        "zone": {
          "description": "The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "name": {
          "description": "The name (project, location, cluster id) of the cluster to set labels.\nSpecified in the format 'projects/*/locations/*/clusters/*'.",
          "type": "string"
        },
        "resourceLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels to set for that cluster.",
          "type": "object"
        },
        "projectId": {
          "type": "string",
          "description": "The Google Developers Console [project ID or project\nnumber](https://developers.google.com/console/help/new/#projectnumber).\nThis field is deprecated, use name instead."
        },
        "clusterId": {
          "description": "The name of the cluster.\nThis field is deprecated, use name instead.",
          "type": "string"
        }
      },
      "id": "SetLabelsRequest"
    },
    "NodeManagement": {
      "description": "NodeManagement defines the set of node management services turned on for the\nnode pool.",
      "type": "object",
      "properties": {
        "autoRepair": {
          "description": "Whether the nodes will be automatically repaired.",
          "type": "boolean"
        },
        "autoUpgrade": {
          "type": "boolean",
          "description": "Whether the nodes will be automatically upgraded."
        },
        "upgradeOptions": {
          "$ref": "AutoUpgradeOptions",
          "description": "Specifies the Auto Upgrade knobs for the node pool."
        }
      },
      "id": "NodeManagement"
    },
    "NodeTaint": {
      "description": "Kubernetes taint is comprised of three fields: key, value, and effect. Effect\ncan only be one of three types:  NoSchedule, PreferNoSchedule or NoExecute.\n\nFor more information, including usage and the valid values, see:\nhttps://kubernetes.io/docs/concepts/configuration/taint-and-toleration/",
      "type": "object",
      "properties": {
        "effect": {
          "type": "string",
          "enumDescriptions": [
            "Not set",
            "NoSchedule",
            "PreferNoSchedule",
            "NoExecute"
          ],
          "enum": [
            "EFFECT_UNSPECIFIED",
            "NO_SCHEDULE",
            "PREFER_NO_SCHEDULE",
            "NO_EXECUTE"
          ],
          "description": "Effect for taint."
        },
        "value": {
          "type": "string",
          "description": "Value for taint."
        },
        "key": {
          "description": "Key for taint.",
          "type": "string"
        }
      },
      "id": "NodeTaint"
    },
    "CancelOperationRequest": {
      "description": "CancelOperationRequest cancels a single operation.",
      "type": "object",
      "properties": {
        "zone": {
          "description": "The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the operation resides.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "name": {
          "description": "The name (project, location, operation id) of the operation to cancel.\nSpecified in the format 'projects/*/locations/*/operations/*'.",
          "type": "string"
        },
        "operationId": {
          "description": "The server-assigned `name` of the operation.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "projectId": {
          "description": "The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis field is deprecated, use name instead.",
          "type": "string"
        }
      },
      "id": "CancelOperationRequest"
    },
    "SetLegacyAbacRequest": {
      "description": "SetLegacyAbacRequest enables or disables the ABAC authorization mechanism for\na cluster.",
      "type": "object",
      "properties": {
        "zone": {
          "type": "string",
          "description": "The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field is deprecated, use name instead."
        },
        "clusterId": {
          "description": "The name of the cluster to update.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "name": {
          "description": "The name (project, location, cluster id) of the cluster to set legacy abac.\nSpecified in the format 'projects/*/locations/*/clusters/*'.",
          "type": "string"
        },
        "enabled": {
          "description": "Whether ABAC authorization will be enabled in the cluster.",
          "type": "boolean"
        },
        "projectId": {
          "description": "The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis field is deprecated, use name instead.",
          "type": "string"
        }
      },
      "id": "SetLegacyAbacRequest"
    },
    "KubernetesDashboard": {
      "description": "Configuration for the Kubernetes Dashboard.",
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Whether the Kubernetes Dashboard is enabled for this cluster.",
          "type": "boolean"
        }
      },
      "id": "KubernetesDashboard"
    },
    "Operation": {
      "type": "object",
      "properties": {
        "endTime": {
          "description": "[Output only] The time the operation completed, in\n[RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "type": "string"
        },
        "location": {
          "description": "[Output only] The name of the Google Compute Engine\n[zone](/compute/docs/regions-zones/regions-zones#available) or\n[region](/compute/docs/regions-zones/regions-zones#available) in which\nthe cluster resides.",
          "type": "string"
        },
        "targetLink": {
          "description": "Server-defined URL for the target of the operation.",
          "type": "string"
        },
        "detail": {
          "description": "Detailed operation progress, if available.",
          "type": "string"
        },
        "operationType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATE_CLUSTER",
            "DELETE_CLUSTER",
            "UPGRADE_MASTER",
            "UPGRADE_NODES",
            "REPAIR_CLUSTER",
            "UPDATE_CLUSTER",
            "CREATE_NODE_POOL",
            "DELETE_NODE_POOL",
            "SET_NODE_POOL_MANAGEMENT",
            "AUTO_REPAIR_NODES",
            "AUTO_UPGRADE_NODES",
            "SET_LABELS",
            "SET_MASTER_AUTH",
            "SET_NODE_POOL_SIZE",
            "SET_NETWORK_POLICY",
            "SET_MAINTENANCE_POLICY"
          ],
          "description": "The operation type.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Cluster create.",
            "Cluster delete.",
            "A master upgrade.",
            "A node upgrade.",
            "Cluster repair.",
            "Cluster update.",
            "Node pool create.",
            "Node pool delete.",
            "Set node pool management.",
            "Automatic node pool repair.",
            "Automatic node upgrade.",
            "Set labels.",
            "Set/generate master auth materials",
            "Set node pool size.",
            "Updates network policy for a cluster.",
            "Set the maintenance policy."
          ]
        },
        "startTime": {
          "description": "[Output only] The time the operation started, in\n[RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "type": "string"
        },
        "zone": {
          "description": "The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the operation\nis taking place.\nThis field is deprecated, use location instead.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The operation has been created.",
            "The operation is currently running.",
            "The operation is done, either cancelled or completed.",
            "The operation is aborting."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "ABORTING"
          ],
          "description": "The current status of the operation."
        },
        "statusMessage": {
          "description": "If an error has occurred, a textual description of the error.",
          "type": "string"
        },
        "name": {
          "description": "The server-assigned ID for the operation.",
          "type": "string"
        },
        "selfLink": {
          "description": "Server-defined URL for the resource.",
          "type": "string"
        }
      },
      "id": "Operation",
      "description": "This operation resource represents operations that may have happened or are\nhappening on the cluster. All fields are output only."
    },
    "AddonsConfig": {
      "description": "Configuration for the addons that can be automatically spun up in the\ncluster, enabling additional functionality.",
      "type": "object",
      "properties": {
        "horizontalPodAutoscaling": {
          "description": "Configuration for the horizontal pod autoscaling feature, which\nincreases or decreases the number of replica pods a replication controller\nhas based on the resource usage of the existing pods.",
          "$ref": "HorizontalPodAutoscaling"
        },
        "httpLoadBalancing": {
          "$ref": "HttpLoadBalancing",
          "description": "Configuration for the HTTP (L7) load balancing controller addon, which\nmakes it easy to set up HTTP load balancers for services in a cluster."
        },
        "kubernetesDashboard": {
          "description": "Configuration for the Kubernetes Dashboard.",
          "$ref": "KubernetesDashboard"
        },
        "networkPolicyConfig": {
          "$ref": "NetworkPolicyConfig",
          "description": "Configuration for NetworkPolicy. This only tracks whether the addon\nis enabled or not on the Master, it does not track whether network policy\nis enabled for the nodes."
        }
      },
      "id": "AddonsConfig"
    },
    "MaintenanceWindow": {
      "properties": {
        "dailyMaintenanceWindow": {
          "$ref": "DailyMaintenanceWindow",
          "description": "DailyMaintenanceWindow specifies a daily maintenance operation window."
        }
      },
      "id": "MaintenanceWindow",
      "description": "MaintenanceWindow defines the maintenance window to be used for the cluster.",
      "type": "object"
    },
    "RollbackNodePoolUpgradeRequest": {
      "description": "RollbackNodePoolUpgradeRequest rollbacks the previously Aborted or Failed\nNodePool upgrade. This will be an no-op if the last upgrade successfully\ncompleted.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "zone": {
          "description": "The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "clusterId": {
          "description": "The name of the cluster to rollback.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "nodePoolId": {
          "description": "The name of the node pool to rollback.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "name": {
          "description": "The name (project, location, cluster, node pool id) of the node poll to\nrollback upgrade.\nSpecified in the format 'projects/*/locations/*/clusters/*/nodePools/*'.",
          "type": "string"
        }
      },
      "id": "RollbackNodePoolUpgradeRequest"
    },
    "NetworkPolicyConfig": {
      "description": "Configuration for NetworkPolicy. This only tracks whether the addon\nis enabled or not on the Master, it does not track whether network policy\nis enabled for the nodes.",
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Whether NetworkPolicy is enabled for this cluster.",
          "type": "boolean"
        }
      },
      "id": "NetworkPolicyConfig"
    },
    "UpdateClusterRequest": {
      "id": "UpdateClusterRequest",
      "description": "UpdateClusterRequest updates the settings of a cluster.",
      "type": "object",
      "properties": {
        "zone": {
          "description": "The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "clusterId": {
          "description": "The name of the cluster to upgrade.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "update": {
          "$ref": "ClusterUpdate",
          "description": "A description of the update."
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster) of the cluster to update.\nSpecified in the format 'projects/*/locations/*/clusters/*'."
        },
        "projectId": {
          "description": "The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis field is deprecated, use name instead.",
          "type": "string"
        }
      }
    },
    "NetworkPolicy": {
      "description": "Configuration options for the NetworkPolicy feature.\nhttps://kubernetes.io/docs/concepts/services-networking/networkpolicies/",
      "type": "object",
      "properties": {
        "provider": {
          "description": "The selected network policy provider.",
          "type": "string",
          "enumDescriptions": [
            "Not set",
            "Tigera (Calico Felix)."
          ],
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "CALICO"
          ]
        },
        "enabled": {
          "description": "Whether network policy is enabled on the cluster.",
          "type": "boolean"
        }
      },
      "id": "NetworkPolicy"
    },
    "Cluster": {
      "properties": {
        "endpoint": {
          "description": "[Output only] The IP address of this cluster's master endpoint.\nThe endpoint can be accessed from the internet at\n`https://username:password@endpoint/`.\n\nSee the `masterAuth` property of this resource for username and\npassword information.",
          "type": "string"
        },
        "location": {
          "description": "[Output only] The name of the Google Compute Engine\n[zone](/compute/docs/regions-zones/regions-zones#available) or\n[region](/compute/docs/regions-zones/regions-zones#available) in which\nthe cluster resides.",
          "type": "string"
        },
        "createTime": {
          "description": "[Output only] The time the cluster was created, in\n[RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "type": "string"
        },
        "clusterIpv4Cidr": {
          "description": "The IP address range of the container pods in this cluster, in\n[CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing)\nnotation (e.g. `10.96.0.0/14`). Leave blank to have\none automatically chosen or specify a `/14` block in `10.0.0.0/8`.",
          "type": "string"
        },
        "initialNodeCount": {
          "format": "int32",
          "description": "The number of nodes to create in this cluster. You must ensure that your\nCompute Engine \u003ca href=\"/compute/docs/resource-quotas\"\u003eresource quota\u003c/a\u003e\nis sufficient for this number of instances. You must also have available\nfirewall and routes quota.\nFor requests, this field should only be used in lieu of a\n\"node_pool\" object, since this configuration (along with the\n\"node_config\") will be used to create a \"NodePool\" object with an\nauto-generated name. Do not use this and a node_pool at the same time.",
          "type": "integer"
        },
        "selfLink": {
          "description": "[Output only] Server-defined URL for the resource.",
          "type": "string"
        },
        "locations": {
          "description": "The list of Google Compute Engine\n[locations](/compute/docs/zones#available) in which the cluster's nodes\nshould be located.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nodePools": {
          "description": "The node pools associated with this cluster.\nThis field should not be set if \"node_config\" or \"initial_node_count\" are\nspecified.",
          "items": {
            "$ref": "NodePool"
          },
          "type": "array"
        },
        "instanceGroupUrls": {
          "description": "[Output only] The resource URLs of [instance\ngroups](/compute/docs/instance-groups/) associated with this\ncluster.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "servicesIpv4Cidr": {
          "description": "[Output only] The IP address range of the Kubernetes services in\nthis cluster, in\n[CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing)\nnotation (e.g. `1.2.3.4/29`). Service addresses are\ntypically put in the last `/16` from the container CIDR.",
          "type": "string"
        },
        "networkPolicy": {
          "$ref": "NetworkPolicy",
          "description": "Configuration options for the NetworkPolicy feature."
        },
        "enableKubernetesAlpha": {
          "description": "Kubernetes alpha features are enabled on this cluster. This includes alpha\nAPI groups (e.g. v1alpha1) and features that may not be production ready in\nthe kubernetes version of the master and nodes.\nThe cluster has no SLA for uptime and master/node upgrades are disabled.\nAlpha enabled clusters are automatically deleted thirty days after\ncreation.",
          "type": "boolean"
        },
        "description": {
          "description": "An optional description of this cluster.",
          "type": "string"
        },
        "currentNodeCount": {
          "format": "int32",
          "description": "[Output only] The number of nodes currently in the cluster.",
          "type": "integer"
        },
        "monitoringService": {
          "description": "The monitoring service the cluster should use to write metrics.\nCurrently available options:\n\n* `monitoring.googleapis.com` - the Google Cloud Monitoring service.\n* `none` - no metrics will be exported from the cluster.\n* if left as an empty string, `monitoring.googleapis.com` will be used.",
          "type": "string"
        },
        "network": {
          "description": "The name of the Google Compute Engine\n[network](/compute/docs/networks-and-firewalls#networks) to which the\ncluster is connected. If left unspecified, the `default` network\nwill be used.",
          "type": "string"
        },
        "zone": {
          "description": "[Output only] The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field is deprecated, use location instead.",
          "type": "string"
        },
        "expireTime": {
          "description": "[Output only] The time the cluster will be automatically\ndeleted in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "type": "string"
        },
        "nodeIpv4CidrSize": {
          "format": "int32",
          "description": "[Output only] The size of the address space on each node for hosting\ncontainers. This is provisioned from within the `container_ipv4_cidr`\nrange.",
          "type": "integer"
        },
        "loggingService": {
          "description": "The logging service the cluster should use to write logs.\nCurrently available options:\n\n* `logging.googleapis.com` - the Google Cloud Logging service.\n* `none` - no logs will be exported from the cluster.\n* if left as an empty string,`logging.googleapis.com` will be used.",
          "type": "string"
        },
        "masterAuthorizedNetworksConfig": {
          "description": "The configuration options for master authorized networks feature.",
          "$ref": "MasterAuthorizedNetworksConfig"
        },
        "statusMessage": {
          "description": "[Output only] Additional information about the current status of this\ncluster, if available.",
          "type": "string"
        },
        "masterAuth": {
          "$ref": "MasterAuth",
          "description": "The authentication information for accessing the master endpoint."
        },
        "currentMasterVersion": {
          "description": "[Output only] The current software version of the master endpoint.",
          "type": "string"
        },
        "nodeConfig": {
          "$ref": "NodeConfig",
          "description": "Parameters used in creating the cluster's nodes.\nSee `nodeConfig` for the description of its properties.\nFor requests, this field should only be used in lieu of a\n\"node_pool\" object, since this configuration (along with the\n\"initial_node_count\") will be used to create a \"NodePool\" object with an\nauto-generated name. Do not use this and a node_pool at the same time.\nFor responses, this field will be populated with the node configuration of\nthe first node pool.\n\nIf unspecified, the defaults are used."
        },
        "podSecurityPolicyConfig": {
          "description": "Configuration for the PodSecurityPolicy feature.",
          "$ref": "PodSecurityPolicyConfig"
        },
        "addonsConfig": {
          "description": "Configurations for the various addons available to run in the cluster.",
          "$ref": "AddonsConfig"
        },
        "status": {
          "description": "[Output only] The current status of this cluster.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully\nusable.",
            "The RECONCILING state indicates that some work is actively being done on\nthe cluster, such as upgrading the master or node software. Details can\nbe found in the `statusMessage` field.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster may be unusable. Details\ncan be found in the `statusMessage` field."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR"
          ]
        },
        "subnetwork": {
          "description": "The name of the Google Compute Engine\n[subnetwork](/compute/docs/subnetworks) to which the\ncluster is connected.",
          "type": "string"
        },
        "currentNodeVersion": {
          "description": "[Output only] The current version of the node software components.\nIf they are currently at multiple versions because they're in the process\nof being upgraded, this reflects the minimum version of all nodes.",
          "type": "string"
        },
        "maintenancePolicy": {
          "$ref": "MaintenancePolicy",
          "description": "Configure the maintenance policy for this cluster."
        },
        "name": {
          "description": "The name of this cluster. The name must be unique within this project\nand zone, and can be up to 40 characters with the following restrictions:\n\n* Lowercase letters, numbers, and hyphens only.\n* Must start with a letter.\n* Must end with a number or a letter.",
          "type": "string"
        },
        "initialClusterVersion": {
          "description": "The initial Kubernetes version for this cluster.  Valid versions are those\nfound in validMasterVersions returned by getServerConfig.  The version can\nbe upgraded over time; such upgrades are reflected in\ncurrentMasterVersion and currentNodeVersion.",
          "type": "string"
        },
        "ipAllocationPolicy": {
          "$ref": "IPAllocationPolicy",
          "description": "Configuration for cluster IP allocation."
        },
        "autoscaling": {
          "$ref": "ClusterAutoscaling",
          "description": "Cluster-level autoscaling configuration."
        }
      },
      "id": "Cluster",
      "description": "A Google Container Engine cluster.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "ListOperationsResponse is the result of ListOperationsRequest.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations in the project in the specified zone.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "missingZones": {
          "description": "If any zones are listed here, the list of operations returned\nmay be missing the operations from those zones.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "CreateNodePoolRequest": {
      "description": "CreateNodePoolRequest creates a node pool for a cluster.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "The Google Developers Console [project ID or project\nnumber](https://developers.google.com/console/help/new/#projectnumber).\nThis field is deprecated, use parent instead.",
          "type": "string"
        },
        "zone": {
          "description": "The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field is deprecated, use parent instead.",
          "type": "string"
        },
        "parent": {
          "description": "The parent (project, location, cluster id) where the node pool will be created.\nSpecified in the format 'projects/*/locations/*/clusters/*/nodePools/*'.",
          "type": "string"
        },
        "nodePool": {
          "description": "The node pool to create.",
          "$ref": "NodePool"
        },
        "clusterId": {
          "description": "The name of the cluster.\nThis field is deprecated, use parent instead.",
          "type": "string"
        }
      },
      "id": "CreateNodePoolRequest"
    },
    "CidrBlock": {
      "type": "object",
      "properties": {
        "cidrBlock": {
          "description": "cidr_block must be specified in CIDR notation.",
          "type": "string"
        },
        "displayName": {
          "description": "display_name is an optional field for users to identify CIDR blocks.",
          "type": "string"
        }
      },
      "id": "CidrBlock",
      "description": "CidrBlock contains an optional name and one CIDR block."
    },
    "ServerConfig": {
      "description": "Container Engine service configuration.",
      "type": "object",
      "properties": {
        "validMasterVersions": {
          "description": "List of valid master versions.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "defaultImageType": {
          "description": "Default image type.",
          "type": "string"
        },
        "defaultClusterVersion": {
          "description": "Version of Kubernetes the service deploys by default.",
          "type": "string"
        },
        "validImageTypes": {
          "description": "List of valid image types.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "validNodeVersions": {
          "description": "List of valid node upgrade target versions.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ServerConfig"
    },
    "MasterAuth": {
      "description": "The authentication information for accessing the master endpoint.\nAuthentication can be done using HTTP basic auth or using client\ncertificates.",
      "type": "object",
      "properties": {
        "clientCertificateConfig": {
          "$ref": "ClientCertificateConfig",
          "description": "Configuration for client certificate authentication on the cluster.  If no\nconfiguration is specified, a client certificate is issued."
        },
        "password": {
          "type": "string",
          "description": "The password to use for HTTP basic authentication to the master endpoint.\nBecause the master endpoint is open to the Internet, you should create a\nstrong password.  If a password is provided for cluster creation, username\nmust be non-empty."
        },
        "clientKey": {
          "description": "[Output only] Base64-encoded private key used by clients to authenticate\nto the cluster endpoint.",
          "type": "string"
        },
        "clusterCaCertificate": {
          "type": "string",
          "description": "[Output only] Base64-encoded public certificate that is the root of\ntrust for the cluster."
        },
        "clientCertificate": {
          "description": "[Output only] Base64-encoded public certificate used by clients to\nauthenticate to the cluster endpoint.",
          "type": "string"
        },
        "username": {
          "description": "The username to use for HTTP basic authentication to the master endpoint.\nFor clusters v1.6.0 and later, you can disable basic authentication by\nproviding an empty username.",
          "type": "string"
        }
      },
      "id": "MasterAuth"
    },
    "NodeConfig": {
      "description": "Parameters that describe the nodes in a cluster.",
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The metadata key/value pairs assigned to instances in the cluster.\n\nKeys must conform to the regexp [a-zA-Z0-9-_]+ and be less than 128 bytes\nin length. These are reflected as part of a URL in the metadata server.\nAdditionally, to avoid ambiguity, keys must not conflict with any other\nmetadata keys for the project or be one of the four reserved keys:\n\"instance-template\", \"kube-env\", \"startup-script\", and \"user-data\"\n\nValues are free-form strings, and only have meaning as interpreted by\nthe image running in the instance. The only restriction placed on them is\nthat each value's size must be less than or equal to 32 KB.\n\nThe total size of all keys and values must be less than 512 KB.",
          "type": "object"
        },
        "tags": {
          "description": "The list of instance tags applied to all nodes. Tags are used to identify\nvalid sources or targets for network firewalls and are specified by\nthe client during cluster or node pool creation. Each tag within the list\nmust comply with RFC1035.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "serviceAccount": {
          "type": "string",
          "description": "The Google Cloud Platform Service Account to be used by the node VMs. If\nno Service Account is specified, the \"default\" service account is used."
        },
        "imageType": {
          "type": "string",
          "description": "The image type to use for this node. Note that for a given image type,\nthe latest version of it will be used."
        },
        "oauthScopes": {
          "description": "The set of Google API scopes to be made available on all of the\nnode VMs under the \"default\" service account.\n\nThe following scopes are recommended, but not required, and by default are\nnot included:\n\n* `https://www.googleapis.com/auth/compute` is required for mounting\npersistent storage on your nodes.\n* `https://www.googleapis.com/auth/devstorage.read_only` is required for\ncommunicating with **gcr.io**\n(the [Google Container Registry](/container-registry/)).\n\nIf unspecified, no scopes are added, unless Cloud Logging or Cloud\nMonitoring are enabled, in which case their required scopes will be added.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "taints": {
          "description": "List of kubernetes taints to be applied to each node.\n\nFor more information, including usage and the valid values, see:\nhttps://kubernetes.io/docs/concepts/configuration/taint-and-toleration/",
          "items": {
            "$ref": "NodeTaint"
          },
          "type": "array"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The map of Kubernetes labels (key/value pairs) to be applied to each node.\nThese will added in addition to any default label(s) that\nKubernetes may apply to the node.\nIn case of conflict in label keys, the applied set may differ depending on\nthe Kubernetes version -- it's best to assume the behavior is undefined\nand conflicts should be avoided.\nFor more information, including usage and the valid values, see:\nhttps://kubernetes.io/docs/concepts/overview/working-with-objects/labels/",
          "type": "object"
        },
        "diskSizeGb": {
          "format": "int32",
          "description": "Size of the disk attached to each node, specified in GB.\nThe smallest allowed disk size is 10GB.\n\nIf unspecified, the default disk size is 100GB.",
          "type": "integer"
        },
        "accelerators": {
          "description": "A list of hardware accelerators to be attached to each node.\nSee https://cloud.google.com/compute/docs/gpus for more information about\nsupport for GPUs.",
          "items": {
            "$ref": "AcceleratorConfig"
          },
          "type": "array"
        },
        "machineType": {
          "description": "The name of a Google Compute Engine [machine\ntype](/compute/docs/machine-types) (e.g.\n`n1-standard-1`).\n\nIf unspecified, the default machine type is\n`n1-standard-1`.",
          "type": "string"
        },
        "minCpuPlatform": {
          "description": "Minimum CPU platform to be used by this instance. The instance may be\nscheduled on the specified or newer CPU platform. Applicable values are the\nfriendly names of CPU platforms, such as\n\u003ccode\u003eminCpuPlatform: &quot;Intel Haswell&quot;\u003c/code\u003e or\n\u003ccode\u003eminCpuPlatform: &quot;Intel Sandy Bridge&quot;\u003c/code\u003e. For more\ninformation, read [how to specify min CPU platform](https://cloud.google.com/compute/docs/instances/specify-min-cpu-platform)",
          "type": "string"
        },
        "preemptible": {
          "description": "Whether the nodes are created as preemptible VM instances. See:\nhttps://cloud.google.com/compute/docs/instances/preemptible for more\ninforamtion about preemptible VM instances.",
          "type": "boolean"
        },
        "localSsdCount": {
          "format": "int32",
          "description": "The number of local SSD disks to be attached to the node.\n\nThe limit for this value is dependant upon the maximum number of\ndisks available on a machine per zone. See:\nhttps://cloud.google.com/compute/docs/disks/local-ssd#local_ssd_limits\nfor more information.",
          "type": "integer"
        }
      },
      "id": "NodeConfig"
    },
    "DailyMaintenanceWindow": {
      "type": "object",
      "properties": {
        "duration": {
          "description": "[Output only] Duration of the time window, automatically chosen to be\nsmallest possible in the given scenario.",
          "type": "string"
        },
        "startTime": {
          "description": "Time within the maintenance window to start the maintenance operations.\nIt must be in format \"HH:MM”, where HH : [00-23] and MM : [00-59] GMT.",
          "type": "string"
        }
      },
      "id": "DailyMaintenanceWindow",
      "description": "Time window specified for daily maintenance operations."
    },
    "AutoUpgradeOptions": {
      "id": "AutoUpgradeOptions",
      "description": "AutoUpgradeOptions defines the set of options for the user to control how\nthe Auto Upgrades will proceed.",
      "type": "object",
      "properties": {
        "description": {
          "description": "[Output only] This field is set when upgrades are about to commence\nwith the description of the upgrade.",
          "type": "string"
        },
        "autoUpgradeStartTime": {
          "description": "[Output only] This field is set when upgrades are about to commence\nwith the approximate start time for the upgrades, in\n[RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "type": "string"
        }
      }
    },
    "ListClustersResponse": {
      "description": "ListClustersResponse is the result of ListClustersRequest.",
      "type": "object",
      "properties": {
        "missingZones": {
          "description": "If any zones are listed here, the list of clusters returned\nmay be missing those zones.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "clusters": {
          "description": "A list of clusters in the project in the specified zone, or\nacross all ones.",
          "items": {
            "$ref": "Cluster"
          },
          "type": "array"
        }
      },
      "id": "ListClustersResponse"
    },
    "PodSecurityPolicyConfig": {
      "properties": {
        "enabled": {
          "description": "Enable the PodSecurityPolicy controller for this cluster. If enabled, pods\nmust be valid under a PodSecurityPolicy to be created.",
          "type": "boolean"
        }
      },
      "id": "PodSecurityPolicyConfig",
      "description": "Configuration for the PodSecurityPolicy feature.",
      "type": "object"
    },
    "HttpLoadBalancing": {
      "description": "Configuration options for the HTTP (L7) load balancing controller addon,\nwhich makes it easy to set up HTTP load balancers for services in a cluster.",
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Whether the HTTP Load Balancing controller is enabled in the cluster.\nWhen enabled, it runs a small pod in the cluster that manages the load\nbalancers.",
          "type": "boolean"
        }
      },
      "id": "HttpLoadBalancing"
    },
    "SetNetworkPolicyRequest": {
      "id": "SetNetworkPolicyRequest",
      "description": "SetNetworkPolicyRequest enables/disables network policy for a cluster.",
      "type": "object",
      "properties": {
        "networkPolicy": {
          "description": "Configuration options for the NetworkPolicy feature.",
          "$ref": "NetworkPolicy"
        },
        "name": {
          "description": "The name (project, location, cluster id) of the cluster to set networking policy.\nSpecified in the format 'projects/*/locations/*/clusters/*'.",
          "type": "string"
        },
        "projectId": {
          "description": "The Google Developers Console [project ID or project\nnumber](https://developers.google.com/console/help/new/#projectnumber).\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field is deprecated, use name instead."
        },
        "clusterId": {
          "description": "The name of the cluster.\nThis field is deprecated, use name instead.",
          "type": "string"
        }
      }
    },
    "SetMasterAuthRequest": {
      "description": "SetMasterAuthRequest updates the admin password of a cluster.",
      "type": "object",
      "properties": {
        "zone": {
          "description": "The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "action": {
          "enumDescriptions": [
            "Operation is unknown and will error out.",
            "Set the password to a user generated value.",
            "Generate a new password and set it to that.",
            "Set the username.  If an empty username is provided, basic authentication\nis disabled for the cluster.  If a non-empty username is provided, basic\nauthentication is enabled, with either a provided password or a generated\none."
          ],
          "enum": [
            "UNKNOWN",
            "SET_PASSWORD",
            "GENERATE_PASSWORD",
            "SET_USERNAME"
          ],
          "description": "The exact form of action to be taken on the master auth.",
          "type": "string"
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to set auth.\nSpecified in the format 'projects/*/locations/*/clusters/*'.",
          "type": "string"
        },
        "projectId": {
          "description": "The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "clusterId": {
          "description": "The name of the cluster to upgrade.\nThis field is deprecated, use name instead.",
          "type": "string"
        },
        "update": {
          "$ref": "MasterAuth",
          "description": "A description of the update."
        }
      },
      "id": "SetMasterAuthRequest"
    },
    "ClientCertificateConfig": {
      "id": "ClientCertificateConfig",
      "description": "Configuration for client certificates on the cluster.",
      "type": "object",
      "properties": {
        "issueClientCertificate": {
          "description": "Issue a client certificate.",
          "type": "boolean"
        }
      }
    },
    "NodePoolAutoscaling": {
      "description": "NodePoolAutoscaling contains information required by cluster autoscaler to\nadjust the size of the node pool to the current cluster usage.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Is autoscaling enabled for this node pool.",
          "type": "boolean"
        },
        "maxNodeCount": {
          "format": "int32",
          "description": "Maximum number of nodes in the NodePool. Must be \u003e= min_node_count. There\nhas to enough quota to scale up the cluster.",
          "type": "integer"
        },
        "minNodeCount": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum number of nodes in the NodePool. Must be \u003e= 1 and \u003c=\nmax_node_count."
        },
        "autoprovisioned": {
          "description": "Is autosprovisoning enabled for this node pool.",
          "type": "boolean"
        }
      },
      "id": "NodePoolAutoscaling"
    },
    "MaintenancePolicy": {
      "description": "MaintenancePolicy defines the maintenance policy to be used for the cluster.",
      "type": "object",
      "properties": {
        "window": {
          "$ref": "MaintenanceWindow",
          "description": "Specifies the maintenance window in which maintenance may be performed."
        }
      },
      "id": "MaintenancePolicy"
    },
    "ClusterAutoscaling": {
      "properties": {
        "enableNodeAutoprovisioning": {
          "type": "boolean",
          "description": "Enables automatic node pool creation and deletion."
        },
        "resourceLimits": {
          "items": {
            "$ref": "ResourceLimit"
          },
          "type": "array",
          "description": "Contains global constraints regarding minimum and maximum\namount of resources in the cluster."
        }
      },
      "id": "ClusterAutoscaling",
      "type": "object",
      "description": "ClusterAutoscaling contains global, per-cluster information\nrequired by Cluster Autoscaler to automatically adjust\nthe size of the cluster and create/delete\nnode pools based on the current needs."
    },
    "ResourceLimit": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name \"cpu\", \"memory\" or gpu-specific string."
        },
        "minimum": {
          "type": "string",
          "format": "int64",
          "description": "Minimum amount of the resource in the cluster."
        },
        "maximum": {
          "type": "string",
          "format": "int64",
          "description": "Maximum amount of the resource in the cluster."
        }
      },
      "id": "ResourceLimit",
      "type": "object",
      "description": "Contains information about amount of some resource in the cluster. For memory, value should be in GB."
    },
    "IPAllocationPolicy": {
      "properties": {
        "nodeIpv4CidrBlock": {
          "description": "The IP address range of the instance IPs in this cluster.\n\nThis is applicable only if `create_subnetwork` is true.\n\nSet to blank to have a range chosen with the default size.\n\nSet to /netmask (e.g. `/14`) to have a range chosen with a specific\nnetmask.\n\nSet to a\n[CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing)\nnotation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g.\n`10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range\nto use.",
          "type": "string"
        },
        "servicesIpv4Cidr": {
          "description": "This field is deprecated, use services_ipv4_cidr_block.",
          "type": "string"
        },
        "servicesSecondaryRangeName": {
          "description": "The name of the secondary range to be used as for the services\nCIDR block.  The secondary range will be used for service\nClusterIPs. This must be an existing secondary range associated\nwith the cluster subnetwork.\n\nThis field is only applicable with use_ip_aliases and\ncreate_subnetwork is false.",
          "type": "string"
        },
        "useIpAliases": {
          "description": "Whether alias IPs will be used for pod IPs in the cluster.",
          "type": "boolean"
        },
        "createSubnetwork": {
          "description": "Whether a new subnetwork will be created automatically for the cluster.\n\nThis field is only applicable when `use_ip_aliases` is true.",
          "type": "boolean"
        },
        "subnetworkName": {
          "description": "A custom subnetwork name to be used if `create_subnetwork` is true.  If\nthis field is empty, then an automatic name will be chosen for the new\nsubnetwork.",
          "type": "string"
        },
        "servicesIpv4CidrBlock": {
          "description": "The IP address range of the services IPs in this cluster. If blank, a range\nwill be automatically chosen with the default size.\n\nThis field is only applicable when `use_ip_aliases` is true.\n\nSet to blank to have a range chosen with the default size.\n\nSet to /netmask (e.g. `/14`) to have a range chosen with a specific\nnetmask.\n\nSet to a\n[CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing)\nnotation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g.\n`10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range\nto use.",
          "type": "string"
        },
        "clusterIpv4Cidr": {
          "description": "This field is deprecated, use cluster_ipv4_cidr_block.",
          "type": "string"
        },
        "nodeIpv4Cidr": {
          "type": "string",
          "description": "This field is deprecated, use node_ipv4_cidr_block."
        },
        "clusterSecondaryRangeName": {
          "description": "The name of the secondary range to be used for the cluster CIDR\nblock.  The secondary range will be used for pod IP\naddresses. This must be an existing secondary range associated\nwith the cluster subnetwork.\n\nThis field is only applicable with use_ip_aliases and\ncreate_subnetwork is false.",
          "type": "string"
        },
        "clusterIpv4CidrBlock": {
          "description": "The IP address range for the cluster pod IPs. If this field is set, then\n`cluster.cluster_ipv4_cidr` must be left blank.\n\nThis field is only applicable when `use_ip_aliases` is true.\n\nSet to blank to have a range chosen with the default size.\n\nSet to /netmask (e.g. `/14`) to have a range chosen with a specific\nnetmask.\n\nSet to a\n[CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing)\nnotation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g.\n`10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range\nto use.",
          "type": "string"
        }
      },
      "id": "IPAllocationPolicy",
      "description": "Configuration for controlling how IPs are allocated in the cluster.",
      "type": "object"
    },
    "ClusterUpdate": {
      "id": "ClusterUpdate",
      "description": "ClusterUpdate describes an update to the cluster. Exactly one update can\nbe applied to a cluster with each request, so at most one field can be\nprovided.",
      "type": "object",
      "properties": {
        "desiredMasterVersion": {
          "type": "string",
          "description": "The Kubernetes version to change the master to. The only valid value is the\nlatest supported version. Use \"-\" to have the server automatically select\nthe latest version."
        },
        "desiredPodSecurityPolicyConfig": {
          "description": "The desired configuration options for the PodSecurityPolicy feature.",
          "$ref": "PodSecurityPolicyConfig"
        },
        "desiredMasterAuthorizedNetworksConfig": {
          "$ref": "MasterAuthorizedNetworksConfig",
          "description": "The desired configuration options for master authorized networks feature."
        },
        "desiredLocations": {
          "description": "The desired list of Google Compute Engine\n[locations](/compute/docs/zones#available) in which the cluster's nodes\nshould be located. Changing the locations a cluster is in will result\nin nodes being either created or removed from the cluster, depending on\nwhether locations are being added or removed.\n\nThis list must always include the cluster's primary zone.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "desiredNodePoolAutoscaling": {
          "description": "Autoscaler configuration for the node pool specified in\ndesired_node_pool_id. If there is only one pool in the\ncluster and desired_node_pool_id is not provided then\nthe change applies to that single node pool.",
          "$ref": "NodePoolAutoscaling"
        },
        "desiredMonitoringService": {
          "description": "The monitoring service the cluster should use to write metrics.\nCurrently available options:\n\n* \"monitoring.googleapis.com\" - the Google Cloud Monitoring service\n* \"none\" - no metrics will be exported from the cluster",
          "type": "string"
        },
        "desiredImageType": {
          "description": "The desired image type for the node pool.\nNOTE: Set the \"desired_node_pool\" field as well.",
          "type": "string"
        },
        "desiredAddonsConfig": {
          "description": "Configurations for the various addons available to run in the cluster.",
          "$ref": "AddonsConfig"
        },
        "desiredNodePoolId": {
          "description": "The node pool to be upgraded. This field is mandatory if\n\"desired_node_version\", \"desired_image_family\" or\n\"desired_node_pool_autoscaling\" is specified and there is more than one\nnode pool on the cluster.",
          "type": "string"
        },
        "desiredNodeVersion": {
          "description": "The Kubernetes version to change the nodes to (typically an\nupgrade). Use `-` to upgrade to the latest version supported by\nthe server.",
          "type": "string"
        },
        "desiredClusterAutoscaling": {
          "description": "The desired cluster-level autoscaling configuration.",
          "$ref": "ClusterAutoscaling"
        }
      }
    },
    "HorizontalPodAutoscaling": {
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Whether the Horizontal Pod Autoscaling feature is enabled in the cluster.\nWhen enabled, it ensures that a Heapster pod is running in the cluster,\nwhich is also used by the Cloud Monitoring service.",
          "type": "boolean"
        }
      },
      "id": "HorizontalPodAutoscaling",
      "description": "Configuration options for the horizontal pod autoscaling feature, which\nincreases or decreases the number of replica pods a replication controller\nhas based on the resource usage of the existing pods."
    }
  },
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "canonicalName": "Container",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "rootUrl": "https://container.googleapis.com/",
  "ownerDomain": "google.com",
  "name": "container",
  "batchPath": "batch",
  "title": "Google Container Engine API",
  "ownerName": "Google",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "getServerConfig": {
              "path": "v1alpha1/{+name}/serverConfig",
              "id": "container.projects.locations.getServerConfig",
              "description": "Returns configuration info about the Container Engine service.",
              "httpMethod": "GET",
              "response": {
                "$ref": "ServerConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "projectId": {
                  "description": "The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis field is deprecated, use name instead.",
                  "type": "string",
                  "location": "query"
                },
                "zone": {
                  "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available)\nto return operations for.\nThis field is deprecated, use name instead.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "description": "The name (project and location) of the server config to get\nSpecified in the format 'projects/*/locations/*'.",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/serverConfig"
            }
          },
          "resources": {
            "clusters": {
              "methods": {
                "setNetworkPolicy": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name (project, location, cluster id) of the cluster to set networking policy.\nSpecified in the format 'projects/*/locations/*/clusters/*'.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                    }
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setNetworkPolicy",
                  "path": "v1alpha1/{+name}:setNetworkPolicy",
                  "id": "container.projects.locations.clusters.setNetworkPolicy",
                  "request": {
                    "$ref": "SetNetworkPolicyRequest"
                  },
                  "description": "Enables/Disables Network Policy for a cluster."
                },
                "get": {
                  "description": "Gets the details of a specific cluster.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Cluster"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path",
                      "description": "The name (project, location, cluster) of the cluster to retrieve.\nSpecified in the format 'projects/*/locations/*/clusters/*'.",
                      "type": "string",
                      "required": true
                    },
                    "projectId": {
                      "type": "string",
                      "location": "query",
                      "description": "The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis field is deprecated, use name instead."
                    },
                    "zone": {
                      "location": "query",
                      "description": "The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field is deprecated, use name instead.",
                      "type": "string"
                    },
                    "clusterId": {
                      "type": "string",
                      "location": "query",
                      "description": "The name of the cluster to retrieve.\nThis field is deprecated, use name instead."
                    }
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "path": "v1alpha1/{+name}",
                  "id": "container.projects.locations.clusters.get"
                },
                "startIpRotation": {
                  "description": "Start master IP rotation.",
                  "request": {
                    "$ref": "StartIPRotationRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name (project, location, cluster id) of the cluster to start IP rotation.\nSpecified in the format 'projects/*/locations/*/clusters/*'.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:startIpRotation",
                  "path": "v1alpha1/{+name}:startIpRotation",
                  "id": "container.projects.locations.clusters.startIpRotation"
                },
                "setMaintenancePolicy": {
                  "request": {
                    "$ref": "SetMaintenancePolicyRequest"
                  },
                  "description": "Sets the maintenance policy for a cluster.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, cluster id) of the cluster to set maintenance\npolicy.\nSpecified in the format 'projects/*/locations/*/clusters/*'.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setMaintenancePolicy",
                  "id": "container.projects.locations.clusters.setMaintenancePolicy",
                  "path": "v1alpha1/{+name}:setMaintenancePolicy"
                },
                "delete": {
                  "description": "Deletes the cluster, including the Kubernetes endpoint and all worker\nnodes.\n\nFirewalls and routes that were configured during cluster creation\nare also deleted.\n\nOther Google Compute Engine resources that might be in use by the cluster\n(e.g. load balancer resources) will not be deleted if they weren't present\nat the initial create time.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path",
                      "description": "The name (project, location, cluster) of the cluster to delete.\nSpecified in the format 'projects/*/locations/*/clusters/*'.",
                      "type": "string",
                      "required": true
                    },
                    "projectId": {
                      "description": "The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis field is deprecated, use name instead.",
                      "type": "string",
                      "location": "query"
                    },
                    "zone": {
                      "type": "string",
                      "location": "query",
                      "description": "The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field is deprecated, use name instead."
                    },
                    "clusterId": {
                      "description": "The name of the cluster to delete.\nThis field is deprecated, use name instead.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "id": "container.projects.locations.clusters.delete",
                  "path": "v1alpha1/{+name}"
                },
                "setLegacyAbac": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, cluster id) of the cluster to set legacy abac.\nSpecified in the format 'projects/*/locations/*/clusters/*'.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setLegacyAbac",
                  "path": "v1alpha1/{+name}:setLegacyAbac",
                  "id": "container.projects.locations.clusters.setLegacyAbac",
                  "request": {
                    "$ref": "SetLegacyAbacRequest"
                  },
                  "description": "Enables or disables the ABAC authorization mechanism on a cluster."
                },
                "setResourceLabels": {
                  "request": {
                    "$ref": "SetLabelsRequest"
                  },
                  "description": "Sets labels on a cluster.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path",
                      "description": "The name (project, location, cluster id) of the cluster to set labels.\nSpecified in the format 'projects/*/locations/*/clusters/*'.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setResourceLabels",
                  "path": "v1alpha1/{+name}:setResourceLabels",
                  "id": "container.projects.locations.clusters.setResourceLabels"
                },
                "update": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name (project, location, cluster) of the cluster to update.\nSpecified in the format 'projects/*/locations/*/clusters/*'.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                    }
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "id": "container.projects.locations.clusters.update",
                  "path": "v1alpha1/{+name}",
                  "request": {
                    "$ref": "UpdateClusterRequest"
                  },
                  "description": "Updates the settings of a specific cluster.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PUT"
                },
                "setMasterAuth": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, cluster) of the cluster to set auth.\nSpecified in the format 'projects/*/locations/*/clusters/*'.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setMasterAuth",
                  "id": "container.projects.locations.clusters.setMasterAuth",
                  "path": "v1alpha1/{+name}:setMasterAuth",
                  "request": {
                    "$ref": "SetMasterAuthRequest"
                  },
                  "description": "Used to set master auth materials. Currently supports :-\nChanging the admin password of a specific cluster.\nThis can be either via password generation or explicitly set.\nModify basic_auth.csv and reset the K8S API server."
                },
                "list": {
                  "description": "Lists all clusters owned by a project in either the specified zone or all\nzones.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListClustersResponse"
                  },
                  "parameters": {
                    "zone": {
                      "location": "query",
                      "description": "The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides, or \"-\" for all zones.\nThis field is deprecated, use parent instead.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "The parent (project and location) where the clusters will be listed.\nSpecified in the format 'projects/*/locations/*'.\nLocation \"-\" matches all zones and all regions.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "projectId": {
                      "location": "query",
                      "description": "The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis field is deprecated, use parent instead.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "path": "v1alpha1/{+parent}/clusters",
                  "id": "container.projects.locations.clusters.list"
                },
                "create": {
                  "path": "v1alpha1/{+parent}/clusters",
                  "id": "container.projects.locations.clusters.create",
                  "description": "Creates a cluster, consisting of the specified number and type of Google\nCompute Engine instances.\n\nBy default, the cluster is created in the project's\n[default network](/compute/docs/networks-and-firewalls#networks).\n\nOne firewall is added for the cluster. After cluster creation,\nthe cluster creates routes for each node to allow the containers\non that node to communicate with all other instances in the\ncluster.\n\nFinally, an entry is added to the project's global metadata indicating\nwhich CIDR range is being used by the cluster.",
                  "request": {
                    "$ref": "CreateClusterRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "The parent (project and location) where the cluster will be created.\nSpecified in the format 'projects/*/locations/*'.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/clusters"
                },
                "completeIpRotation": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path",
                      "description": "The name (project, location, cluster id) of the cluster to complete IP rotation.\nSpecified in the format 'projects/*/locations/*/clusters/*'.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:completeIpRotation",
                  "path": "v1alpha1/{+name}:completeIpRotation",
                  "id": "container.projects.locations.clusters.completeIpRotation",
                  "description": "Completes master IP rotation.",
                  "request": {
                    "$ref": "CompleteIPRotationRequest"
                  }
                }
              },
              "resources": {
                "nodePools": {
                  "methods": {
                    "get": {
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools/{nodePoolsId}",
                      "path": "v1alpha1/{+name}",
                      "id": "container.projects.locations.clusters.nodePools.get",
                      "description": "Retrieves the node pool requested.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "NodePool"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "The name (project, location, cluster, node pool id) of the node pool to get.\nSpecified in the format 'projects/*/locations/*/clusters/*/nodePools/*'.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/nodePools/[^/]+$"
                        },
                        "projectId": {
                          "location": "query",
                          "description": "The Google Developers Console [project ID or project\nnumber](https://developers.google.com/console/help/new/#projectnumber).\nThis field is deprecated, use name instead.",
                          "type": "string"
                        },
                        "zone": {
                          "description": "The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field is deprecated, use name instead.",
                          "type": "string",
                          "location": "query"
                        },
                        "clusterId": {
                          "description": "The name of the cluster.\nThis field is deprecated, use name instead.",
                          "type": "string",
                          "location": "query"
                        },
                        "nodePoolId": {
                          "location": "query",
                          "description": "The name of the node pool.\nThis field is deprecated, use name instead.",
                          "type": "string"
                        }
                      }
                    },
                    "setManagement": {
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "name": {
                          "description": "The name (project, location, cluster, node pool id) of the node pool to set\nmanagement properties. Specified in the format\n'projects/*/locations/*/clusters/*/nodePools/*'.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/nodePools/[^/]+$",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools/{nodePoolsId}:setManagement",
                      "path": "v1alpha1/{+name}:setManagement",
                      "id": "container.projects.locations.clusters.nodePools.setManagement",
                      "description": "Sets the NodeManagement options for a node pool.",
                      "request": {
                        "$ref": "SetNodePoolManagementRequest"
                      }
                    },
                    "delete": {
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools/{nodePoolsId}",
                      "id": "container.projects.locations.clusters.nodePools.delete",
                      "path": "v1alpha1/{+name}",
                      "description": "Deletes a node pool from a cluster.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "description": "The name (project, location, cluster, node pool id) of the node pool to delete.\nSpecified in the format 'projects/*/locations/*/clusters/*/nodePools/*'.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/nodePools/[^/]+$",
                          "location": "path"
                        },
                        "projectId": {
                          "location": "query",
                          "description": "The Google Developers Console [project ID or project\nnumber](https://developers.google.com/console/help/new/#projectnumber).\nThis field is deprecated, use name instead.",
                          "type": "string"
                        },
                        "zone": {
                          "type": "string",
                          "location": "query",
                          "description": "The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field is deprecated, use name instead."
                        },
                        "clusterId": {
                          "location": "query",
                          "description": "The name of the cluster.\nThis field is deprecated, use name instead.",
                          "type": "string"
                        },
                        "nodePoolId": {
                          "description": "The name of the node pool to delete.\nThis field is deprecated, use name instead.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "id": "container.projects.locations.clusters.nodePools.list",
                      "path": "v1alpha1/{+parent}/nodePools",
                      "description": "Lists the node pools for a cluster.",
                      "response": {
                        "$ref": "ListNodePoolsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "zone": {
                          "description": "The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.\nThis field is deprecated, use parent instead.",
                          "type": "string",
                          "location": "query"
                        },
                        "clusterId": {
                          "location": "query",
                          "description": "The name of the cluster.\nThis field is deprecated, use parent instead.",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "description": "The parent (project, location, cluster id) where the node pools will be listed.\nSpecified in the format 'projects/*/locations/*/clusters/*'.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                        },
                        "projectId": {
                          "description": "The Google Developers Console [project ID or project\nnumber](https://developers.google.com/console/help/new/#projectnumber).\nThis field is deprecated, use parent instead.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools"
                    },
                    "rollback": {
                      "request": {
                        "$ref": "RollbackNodePoolUpgradeRequest"
                      },
                      "description": "Roll back the previously Aborted or Failed NodePool upgrade.\nThis will be an no-op if the last upgrade successfully completed.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "description": "The name (project, location, cluster, node pool id) of the node poll to\nrollback upgrade.\nSpecified in the format 'projects/*/locations/*/clusters/*/nodePools/*'.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/nodePools/[^/]+$",
                          "location": "path"
                        }
                      },
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools/{nodePoolsId}:rollback",
                      "id": "container.projects.locations.clusters.nodePools.rollback",
                      "path": "v1alpha1/{+name}:rollback"
                    },
                    "create": {
                      "path": "v1alpha1/{+parent}/nodePools",
                      "id": "container.projects.locations.clusters.nodePools.create",
                      "description": "Creates a node pool for a cluster.",
                      "request": {
                        "$ref": "CreateNodePoolRequest"
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                          "location": "path",
                          "description": "The parent (project, location, cluster id) where the node pool will be created.\nSpecified in the format 'projects/*/locations/*/clusters/*/nodePools/*'."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools"
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "cancel": {
[...]
