{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2022-03-31",
    "endpointPrefix":"sms-voice",
    "jsonVersion":"1.0",
    "protocol":"json",
    "serviceFullName":"Amazon Pinpoint SMS Voice V2",
    "serviceId":"Pinpoint SMS Voice V2",
    "signatureVersion":"v4",
    "signingName":"sms-voice",
    "targetPrefix":"PinpointSMSVoiceV2",
    "uid":"pinpoint-sms-voice-v2-2022-03-31"
  },
  "operations":{
    "AssociateOriginationIdentity":{
      "name":"AssociateOriginationIdentity",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateOriginationIdentityRequest"},
      "output":{"shape":"AssociateOriginationIdentityResult"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "CreateConfigurationSet":{
      "name":"CreateConfigurationSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateConfigurationSetRequest"},
      "output":{"shape":"CreateConfigurationSetResult"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "CreateEventDestination":{
      "name":"CreateEventDestination",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEventDestinationRequest"},
      "output":{"shape":"CreateEventDestinationResult"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "CreateOptOutList":{
      "name":"CreateOptOutList",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateOptOutListRequest"},
      "output":{"shape":"CreateOptOutListResult"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "CreatePool":{
      "name":"CreatePool",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePoolRequest"},
      "output":{"shape":"CreatePoolResult"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DeleteConfigurationSet":{
      "name":"DeleteConfigurationSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteConfigurationSetRequest"},
      "output":{"shape":"DeleteConfigurationSetResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DeleteDefaultMessageType":{
      "name":"DeleteDefaultMessageType",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDefaultMessageTypeRequest"},
      "output":{"shape":"DeleteDefaultMessageTypeResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DeleteDefaultSenderId":{
      "name":"DeleteDefaultSenderId",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDefaultSenderIdRequest"},
      "output":{"shape":"DeleteDefaultSenderIdResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DeleteEventDestination":{
      "name":"DeleteEventDestination",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEventDestinationRequest"},
      "output":{"shape":"DeleteEventDestinationResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DeleteKeyword":{
      "name":"DeleteKeyword",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteKeywordRequest"},
      "output":{"shape":"DeleteKeywordResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DeleteOptOutList":{
      "name":"DeleteOptOutList",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteOptOutListRequest"},
      "output":{"shape":"DeleteOptOutListResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DeleteOptedOutNumber":{
      "name":"DeleteOptedOutNumber",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteOptedOutNumberRequest"},
      "output":{"shape":"DeleteOptedOutNumberResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DeletePool":{
      "name":"DeletePool",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeletePoolRequest"},
      "output":{"shape":"DeletePoolResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DeleteTextMessageSpendLimitOverride":{
      "name":"DeleteTextMessageSpendLimitOverride",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTextMessageSpendLimitOverrideRequest"},
      "output":{"shape":"DeleteTextMessageSpendLimitOverrideResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DeleteVoiceMessageSpendLimitOverride":{
      "name":"DeleteVoiceMessageSpendLimitOverride",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteVoiceMessageSpendLimitOverrideRequest"},
      "output":{"shape":"DeleteVoiceMessageSpendLimitOverrideResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DescribeAccountAttributes":{
      "name":"DescribeAccountAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAccountAttributesRequest"},
      "output":{"shape":"DescribeAccountAttributesResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DescribeAccountLimits":{
      "name":"DescribeAccountLimits",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAccountLimitsRequest"},
      "output":{"shape":"DescribeAccountLimitsResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DescribeConfigurationSets":{
      "name":"DescribeConfigurationSets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeConfigurationSetsRequest"},
      "output":{"shape":"DescribeConfigurationSetsResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DescribeKeywords":{
      "name":"DescribeKeywords",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeKeywordsRequest"},
      "output":{"shape":"DescribeKeywordsResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DescribeOptOutLists":{
      "name":"DescribeOptOutLists",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeOptOutListsRequest"},
      "output":{"shape":"DescribeOptOutListsResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DescribeOptedOutNumbers":{
      "name":"DescribeOptedOutNumbers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeOptedOutNumbersRequest"},
      "output":{"shape":"DescribeOptedOutNumbersResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DescribePhoneNumbers":{
      "name":"DescribePhoneNumbers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePhoneNumbersRequest"},
      "output":{"shape":"DescribePhoneNumbersResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DescribePools":{
      "name":"DescribePools",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePoolsRequest"},
      "output":{"shape":"DescribePoolsResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DescribeSenderIds":{
      "name":"DescribeSenderIds",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSenderIdsRequest"},
      "output":{"shape":"DescribeSenderIdsResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DescribeSpendLimits":{
      "name":"DescribeSpendLimits",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSpendLimitsRequest"},
      "output":{"shape":"DescribeSpendLimitsResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DisassociateOriginationIdentity":{
      "name":"DisassociateOriginationIdentity",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateOriginationIdentityRequest"},
      "output":{"shape":"DisassociateOriginationIdentityResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListPoolOriginationIdentities":{
      "name":"ListPoolOriginationIdentities",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPoolOriginationIdentitiesRequest"},
      "output":{"shape":"ListPoolOriginationIdentitiesResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "PutKeyword":{
      "name":"PutKeyword",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutKeywordRequest"},
      "output":{"shape":"PutKeywordResult"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "PutOptedOutNumber":{
      "name":"PutOptedOutNumber",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutOptedOutNumberRequest"},
      "output":{"shape":"PutOptedOutNumberResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ReleasePhoneNumber":{
      "name":"ReleasePhoneNumber",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ReleasePhoneNumberRequest"},
      "output":{"shape":"ReleasePhoneNumberResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "RequestPhoneNumber":{
      "name":"RequestPhoneNumber",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RequestPhoneNumberRequest"},
      "output":{"shape":"RequestPhoneNumberResult"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "SendTextMessage":{
      "name":"SendTextMessage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SendTextMessageRequest"},
      "output":{"shape":"SendTextMessageResult"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "SendVoiceMessage":{
      "name":"SendVoiceMessage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SendVoiceMessageRequest"},
      "output":{"shape":"SendVoiceMessageResult"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "SetDefaultMessageType":{
      "name":"SetDefaultMessageType",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetDefaultMessageTypeRequest"},
      "output":{"shape":"SetDefaultMessageTypeResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "SetDefaultSenderId":{
      "name":"SetDefaultSenderId",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetDefaultSenderIdRequest"},
      "output":{"shape":"SetDefaultSenderIdResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "SetTextMessageSpendLimitOverride":{
      "name":"SetTextMessageSpendLimitOverride",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetTextMessageSpendLimitOverrideRequest"},
      "output":{"shape":"SetTextMessageSpendLimitOverrideResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "SetVoiceMessageSpendLimitOverride":{
      "name":"SetVoiceMessageSpendLimitOverride",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetVoiceMessageSpendLimitOverrideRequest"},
      "output":{"shape":"SetVoiceMessageSpendLimitOverrideResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResult"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "UpdateEventDestination":{
      "name":"UpdateEventDestination",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateEventDestinationRequest"},
      "output":{"shape":"UpdateEventDestinationResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "UpdatePhoneNumber":{
      "name":"UpdatePhoneNumber",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdatePhoneNumberRequest"},
      "output":{"shape":"UpdatePhoneNumberResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "UpdatePool":{
      "name":"UpdatePool",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdatePoolRequest"},
      "output":{"shape":"UpdatePoolResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"},
        "Reason":{"shape":"AccessDeniedExceptionReason"}
      },
      "exception":true
    },
    "AccessDeniedExceptionReason":{
      "type":"string",
      "enum":[
        "INSUFFICIENT_ACCOUNT_REPUTATION",
        "ACCOUNT_DISABLED"
      ]
    },
    "AccountAttribute":{
      "type":"structure",
      "required":[
        "Name",
        "Value"
      ],
      "members":{
        "Name":{"shape":"AccountAttributeName"},
        "Value":{"shape":"String"}
      }
    },
    "AccountAttributeList":{
      "type":"list",
      "member":{"shape":"AccountAttribute"}
    },
    "AccountAttributeName":{
      "type":"string",
      "enum":["ACCOUNT_TIER"]
    },
    "AccountLimit":{
      "type":"structure",
      "required":[
        "Name",
        "Used",
        "Max"
      ],
      "members":{
        "Name":{"shape":"AccountLimitName"},
        "Used":{"shape":"PrimitiveLong"},
        "Max":{"shape":"PrimitiveLong"}
      }
    },
    "AccountLimitList":{
      "type":"list",
      "member":{"shape":"AccountLimit"}
    },
    "AccountLimitName":{
      "type":"string",
      "enum":[
        "PHONE_NUMBERS",
        "POOLS",
        "CONFIGURATION_SETS",
        "OPT_OUT_LISTS"
      ]
    },
    "AmazonResourceName":{
      "type":"string",
      "max":256,
      "min":20,
      "pattern":"arn:[A-Za-z0-9_:/-]+"
    },
    "AssociateOriginationIdentityRequest":{
      "type":"structure",
      "required":[
        "PoolId",
        "OriginationIdentity",
        "IsoCountryCode"
      ],
      "members":{
        "PoolId":{"shape":"PoolIdOrArn"},
        "OriginationIdentity":{"shape":"PhoneOrSenderIdOrArn"},
        "IsoCountryCode":{"shape":"IsoCountryCode"},
        "ClientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        }
      }
    },
    "AssociateOriginationIdentityResult":{
      "type":"structure",
      "members":{
        "PoolArn":{"shape":"String"},
        "PoolId":{"shape":"String"},
        "OriginationIdentityArn":{"shape":"String"},
        "OriginationIdentity":{"shape":"String"},
        "IsoCountryCode":{"shape":"IsoCountryCode"}
      }
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "ClientToken":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[!-~]+"
    },
    "CloudWatchLogsDestination":{
      "type":"structure",
      "required":[
        "IamRoleArn",
        "LogGroupArn"
      ],
      "members":{
        "IamRoleArn":{"shape":"IamRoleArn"},
        "LogGroupArn":{"shape":"LogGroupArn"}
      }
    },
    "ConfigurationSetFilter":{
      "type":"structure",
      "required":[
        "Name",
        "Values"
      ],
      "members":{
        "Name":{"shape":"ConfigurationSetFilterName"},
        "Values":{"shape":"FilterValueList"}
      }
    },
    "ConfigurationSetFilterList":{
      "type":"list",
      "member":{"shape":"ConfigurationSetFilter"},
      "max":20,
      "min":0
    },
    "ConfigurationSetFilterName":{
      "type":"string",
      "enum":[
        "event-destination-name",
        "matching-event-types",
        "default-message-type",
        "default-sender-id"
      ]
    },
    "ConfigurationSetInformation":{
      "type":"structure",
      "required":[
        "ConfigurationSetArn",
        "ConfigurationSetName",
        "EventDestinations",
        "CreatedTimestamp"
      ],
      "members":{
        "ConfigurationSetArn":{"shape":"String"},
        "ConfigurationSetName":{"shape":"ConfigurationSetName"},
        "EventDestinations":{"shape":"EventDestinationList"},
        "DefaultMessageType":{"shape":"MessageType"},
        "DefaultSenderId":{"shape":"SenderId"},
        "CreatedTimestamp":{"shape":"Timestamp"}
      }
    },
    "ConfigurationSetInformationList":{
      "type":"list",
      "member":{"shape":"ConfigurationSetInformation"}
    },
    "ConfigurationSetName":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[A-Za-z0-9_-]+"
    },
    "ConfigurationSetNameList":{
      "type":"list",
      "member":{"shape":"ConfigurationSetNameOrArn"},
      "max":5,
      "min":0
    },
    "ConfigurationSetNameOrArn":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[A-Za-z0-9_:/-]+"
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"},
        "Reason":{"shape":"ConflictExceptionReason"},
        "ResourceType":{"shape":"ResourceType"},
        "ResourceId":{"shape":"String"}
      },
      "exception":true
    },
    "ConflictExceptionReason":{
      "type":"string",
      "enum":[
        "DELETION_PROTECTION_ENABLED",
        "DESTINATION_PHONE_NUMBER_NOT_VERIFIED",
        "DESTINATION_PHONE_NUMBER_OPTED_OUT",
        "EVENT_DESTINATION_MISMATCH",
        "KEYWORD_MISMATCH",
        "LAST_PHONE_NUMBER",
        "SELF_MANAGED_OPT_OUTS_MISMATCH",
        "MESSAGE_TYPE_MISMATCH",
        "NO_ORIGINATION_IDENTITIES_FOUND",
        "OPT_OUT_LIST_MISMATCH",
        "PHONE_NUMBER_ASSOCIATED_TO_POOL",
        "PHONE_NUMBER_NOT_ASSOCIATED_TO_POOL",
        "PHONE_NUMBER_NOT_IN_REGISTRATION_REGION",
        "RESOURCE_ALREADY_EXISTS",
        "RESOURCE_DELETION_NOT_ALLOWED",
        "RESOURCE_MODIFICATION_NOT_ALLOWED",
        "RESOURCE_NOT_ACTIVE",
        "RESOURCE_NOT_EMPTY",
        "TWO_WAY_CONFIG_MISMATCH"
      ]
    },
    "ContextKey":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"\\S+"
    },
    "ContextMap":{
      "type":"map",
      "key":{"shape":"ContextKey"},
      "value":{"shape":"ContextValue"},
      "max":5,
      "min":0
    },
    "ContextValue":{
      "type":"string",
      "max":800,
      "min":1,
      "pattern":"\\S+"
    },
    "CreateConfigurationSetRequest":{
      "type":"structure",
      "required":["ConfigurationSetName"],
      "members":{
        "ConfigurationSetName":{"shape":"ConfigurationSetName"},
        "Tags":{"shape":"TagList"},
        "ClientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        }
      }
    },
    "CreateConfigurationSetResult":{
      "type":"structure",
      "members":{
        "ConfigurationSetArn":{"shape":"String"},
        "ConfigurationSetName":{"shape":"ConfigurationSetName"},
        "Tags":{"shape":"TagList"},
        "CreatedTimestamp":{"shape":"Timestamp"}
      }
    },
    "CreateEventDestinationRequest":{
      "type":"structure",
      "required":[
        "ConfigurationSetName",
        "EventDestinationName",
        "MatchingEventTypes"
      ],
      "members":{
        "ConfigurationSetName":{"shape":"ConfigurationSetNameOrArn"},
        "EventDestinationName":{"shape":"EventDestinationName"},
        "MatchingEventTypes":{"shape":"EventTypeList"},
        "CloudWatchLogsDestination":{"shape":"CloudWatchLogsDestination"},
        "KinesisFirehoseDestination":{"shape":"KinesisFirehoseDestination"},
        "SnsDestination":{"shape":"SnsDestination"},
        "ClientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        }
      }
    },
    "CreateEventDestinationResult":{
      "type":"structure",
      "members":{
        "ConfigurationSetArn":{"shape":"String"},
        "ConfigurationSetName":{"shape":"ConfigurationSetName"},
        "EventDestination":{"shape":"EventDestination"}
      }
    },
    "CreateOptOutListRequest":{
      "type":"structure",
      "required":["OptOutListName"],
      "members":{
        "OptOutListName":{"shape":"OptOutListName"},
        "Tags":{"shape":"TagList"},
        "ClientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        }
      }
    },
    "CreateOptOutListResult":{
      "type":"structure",
      "members":{
        "OptOutListArn":{"shape":"String"},
        "OptOutListName":{"shape":"OptOutListName"},
        "Tags":{"shape":"TagList"},
        "CreatedTimestamp":{"shape":"Timestamp"}
      }
    },
    "CreatePoolRequest":{
      "type":"structure",
      "required":[
        "OriginationIdentity",
        "IsoCountryCode",
        "MessageType"
      ],
      "members":{
        "OriginationIdentity":{"shape":"PhoneOrSenderIdOrArn"},
        "IsoCountryCode":{"shape":"IsoCountryCode"},
        "MessageType":{"shape":"MessageType"},
        "DeletionProtectionEnabled":{"shape":"Boolean"},
        "Tags":{"shape":"TagList"},
        "ClientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        }
      }
    },
    "CreatePoolResult":{
      "type":"structure",
      "members":{
        "PoolArn":{"shape":"String"},
        "PoolId":{"shape":"String"},
        "Status":{"shape":"PoolStatus"},
        "MessageType":{"shape":"MessageType"},
        "TwoWayEnabled":{"shape":"PrimitiveBoolean"},
        "TwoWayChannelArn":{"shape":"TwoWayChannelArn"},
        "SelfManagedOptOutsEnabled":{"shape":"PrimitiveBoolean"},
        "OptOutListName":{"shape":"OptOutListName"},
        "SharedRoutesEnabled":{"shape":"PrimitiveBoolean"},
        "DeletionProtectionEnabled":{"shape":"PrimitiveBoolean"},
        "Tags":{"shape":"TagList"},
        "CreatedTimestamp":{"shape":"Timestamp"}
      }
    },
    "DeleteConfigurationSetRequest":{
      "type":"structure",
      "required":["ConfigurationSetName"],
      "members":{
        "ConfigurationSetName":{"shape":"ConfigurationSetNameOrArn"}
      }
    },
    "DeleteConfigurationSetResult":{
      "type":"structure",
      "members":{
        "ConfigurationSetArn":{"shape":"String"},
        "ConfigurationSetName":{"shape":"ConfigurationSetName"},
        "EventDestinations":{"shape":"EventDestinationList"},
        "DefaultMessageType":{"shape":"MessageType"},
        "DefaultSenderId":{"shape":"SenderId"},
        "CreatedTimestamp":{"shape":"Timestamp"}
      }
    },
    "DeleteDefaultMessageTypeRequest":{
      "type":"structure",
      "required":["ConfigurationSetName"],
      "members":{
        "ConfigurationSetName":{"shape":"ConfigurationSetNameOrArn"}
      }
    },
    "DeleteDefaultMessageTypeResult":{
      "type":"structure",
      "members":{
        "ConfigurationSetArn":{"shape":"String"},
        "ConfigurationSetName":{"shape":"ConfigurationSetName"},
        "MessageType":{"shape":"MessageType"}
      }
    },
    "DeleteDefaultSenderIdRequest":{
      "type":"structure",
      "required":["ConfigurationSetName"],
      "members":{
        "ConfigurationSetName":{"shape":"ConfigurationSetNameOrArn"}
      }
    },
    "DeleteDefaultSenderIdResult":{
      "type":"structure",
      "members":{
        "ConfigurationSetArn":{"shape":"String"},
        "ConfigurationSetName":{"shape":"ConfigurationSetName"},
        "SenderId":{"shape":"SenderId"}
      }
    },
    "DeleteEventDestinationRequest":{
      "type":"structure",
      "required":[
        "ConfigurationSetName",
        "EventDestinationName"
      ],
      "members":{
        "ConfigurationSetName":{"shape":"ConfigurationSetNameOrArn"},
        "EventDestinationName":{"shape":"EventDestinationName"}
      }
    },
    "DeleteEventDestinationResult":{
      "type":"structure",
      "members":{
        "ConfigurationSetArn":{"shape":"String"},
        "ConfigurationSetName":{"shape":"ConfigurationSetName"},
        "EventDestination":{"shape":"EventDestination"}
      }
    },
    "DeleteKeywordRequest":{
      "type":"structure",
      "required":[
        "OriginationIdentity",
        "Keyword"
      ],
      "members":{
        "OriginationIdentity":{"shape":"PhoneOrPoolIdOrArn"},
        "Keyword":{"shape":"Keyword"}
      }
    },
    "DeleteKeywordResult":{
      "type":"structure",
      "members":{
        "OriginationIdentityArn":{"shape":"String"},
        "OriginationIdentity":{"shape":"String"},
        "Keyword":{"shape":"Keyword"},
        "KeywordMessage":{"shape":"KeywordMessage"},
        "KeywordAction":{"shape":"KeywordAction"}
      }
    },
    "DeleteOptOutListRequest":{
      "type":"structure",
      "required":["OptOutListName"],
      "members":{
        "OptOutListName":{"shape":"OptOutListNameOrArn"}
      }
    },
    "DeleteOptOutListResult":{
      "type":"structure",
      "members":{
        "OptOutListArn":{"shape":"String"},
        "OptOutListName":{"shape":"OptOutListName"},
        "CreatedTimestamp":{"shape":"Timestamp"}
      }
    },
    "DeleteOptedOutNumberRequest":{
      "type":"structure",
      "required":[
        "OptOutListName",
        "OptedOutNumber"
      ],
      "members":{
        "OptOutListName":{"shape":"OptOutListNameOrArn"},
        "OptedOutNumber":{"shape":"PhoneNumber"}
      }
    },
    "DeleteOptedOutNumberResult":{
      "type":"structure",
      "members":{
        "OptOutListArn":{"shape":"String"},
        "OptOutListName":{"shape":"OptOutListName"},
        "OptedOutNumber":{"shape":"PhoneNumber"},
        "OptedOutTimestamp":{"shape":"Timestamp"},
        "EndUserOptedOut":{"shape":"PrimitiveBoolean"}
      }
    },
    "DeletePoolRequest":{
      "type":"structure",
      "required":["PoolId"],
      "members":{
        "PoolId":{"shape":"PoolIdOrArn"}
      }
    },
    "DeletePoolResult":{
      "type":"structure",
      "members":{
        "PoolArn":{"shape":"String"},
        "PoolId":{"shape":"String"},
        "Status":{"shape":"PoolStatus"},
        "MessageType":{"shape":"MessageType"},
        "TwoWayEnabled":{"shape":"PrimitiveBoolean"},
        "TwoWayChannelArn":{"shape":"TwoWayChannelArn"},
        "SelfManagedOptOutsEnabled":{"shape":"PrimitiveBoolean"},
        "OptOutListName":{"shape":"OptOutListName"},
        "SharedRoutesEnabled":{"shape":"PrimitiveBoolean"},
        "CreatedTimestamp":{"shape":"Timestamp"}
      }
    },
    "DeleteTextMessageSpendLimitOverrideRequest":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteTextMessageSpendLimitOverrideResult":{
      "type":"structure",
      "members":{
        "MonthlyLimit":{"shape":"MonthlyLimit"}
      }
    },
    "DeleteVoiceMessageSpendLimitOverrideRequest":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteVoiceMessageSpendLimitOverrideResult":{
      "type":"structure",
      "members":{
        "MonthlyLimit":{"shape":"MonthlyLimit"}
      }
    },
    "DeliveryStreamArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"arn:\\S+"
    },
    "DescribeAccountAttributesRequest":{
      "type":"structure",
      "members":{
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{"shape":"MaxResults"}
      }
    },
    "DescribeAccountAttributesResult":{
      "type":"structure",
      "members":{
        "AccountAttributes":{"shape":"AccountAttributeList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "DescribeAccountLimitsRequest":{
      "type":"structure",
      "members":{
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{"shape":"MaxResults"}
      }
    },
    "DescribeAccountLimitsResult":{
      "type":"structure",
      "members":{
        "AccountLimits":{"shape":"AccountLimitList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "DescribeConfigurationSetsRequest":{
      "type":"structure",
      "members":{
        "ConfigurationSetNames":{"shape":"ConfigurationSetNameList"},
        "Filters":{"shape":"ConfigurationSetFilterList"},
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{"shape":"MaxResults"}
      }
    },
    "DescribeConfigurationSetsResult":{
      "type":"structure",
      "members":{
        "ConfigurationSets":{"shape":"ConfigurationSetInformationList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "DescribeKeywordsRequest":{
      "type":"structure",
      "required":["OriginationIdentity"],
      "members":{
        "OriginationIdentity":{"shape":"PhoneOrPoolIdOrArn"},
        "Keywords":{"shape":"KeywordList"},
        "Filters":{"shape":"KeywordFilterList"},
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{"shape":"MaxResults"}
      }
    },
    "DescribeKeywordsResult":{
      "type":"structure",
      "members":{
        "OriginationIdentityArn":{"shape":"String"},
        "OriginationIdentity":{"shape":"String"},
        "Keywords":{"shape":"KeywordInformationList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "DescribeOptOutListsRequest":{
      "type":"structure",
      "members":{
        "OptOutListNames":{"shape":"OptOutListNameList"},
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{"shape":"MaxResults"}
      }
    },
    "DescribeOptOutListsResult":{
      "type":"structure",
      "members":{
        "OptOutLists":{"shape":"OptOutListInformationList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "DescribeOptedOutNumbersRequest":{
      "type":"structure",
      "required":["OptOutListName"],
      "members":{
        "OptOutListName":{"shape":"OptOutListNameOrArn"},
        "OptedOutNumbers":{"shape":"OptedOutNumberList"},
        "Filters":{"shape":"OptedOutFilterList"},
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{"shape":"MaxResults"}
      }
    },
    "DescribeOptedOutNumbersResult":{
      "type":"structure",
      "members":{
        "OptOutListArn":{"shape":"String"},
        "OptOutListName":{"shape":"OptOutListName"},
        "OptedOutNumbers":{"shape":"OptedOutNumberInformationList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "DescribePhoneNumbersRequest":{
      "type":"structure",
      "members":{
        "PhoneNumberIds":{"shape":"PhoneNumberIdList"},
        "Filters":{"shape":"PhoneNumberFilterList"},
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{"shape":"MaxResults"}
      }
    },
    "DescribePhoneNumbersResult":{
      "type":"structure",
      "members":{
        "PhoneNumbers":{"shape":"PhoneNumberInformationList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "DescribePoolsRequest":{
      "type":"structure",
      "members":{
        "PoolIds":{"shape":"PoolIdList"},
        "Filters":{"shape":"PoolFilterList"},
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{"shape":"MaxResults"}
      }
    },
    "DescribePoolsResult":{
      "type":"structure",
      "members":{
        "Pools":{"shape":"PoolInformationList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "DescribeSenderIdsRequest":{
      "type":"structure",
      "members":{
        "SenderIds":{"shape":"SenderIdList"},
        "Filters":{"shape":"SenderIdFilterList"},
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{"shape":"MaxResults"}
      }
    },
    "DescribeSenderIdsResult":{
      "type":"structure",
      "members":{
        "SenderIds":{"shape":"SenderIdInformationList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "DescribeSpendLimitsRequest":{
      "type":"structure",
      "members":{
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{"shape":"MaxResults"}
      }
    },
    "DescribeSpendLimitsResult":{
      "type":"structure",
      "members":{
        "SpendLimits":{"shape":"SpendLimitList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "DestinationCountryParameterKey":{
      "type":"string",
      "enum":[
        "IN_TEMPLATE_ID",
        "IN_ENTITY_ID"
      ]
    },
    "DestinationCountryParameterValue":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"\\S+"
    },
    "DestinationCountryParameters":{
      "type":"map",
      "key":{"shape":"DestinationCountryParameterKey"},
      "value":{"shape":"DestinationCountryParameterValue"},
      "max":10,
      "min":0
    },
    "DisassociateOriginationIdentityRequest":{
      "type":"structure",
      "required":[
        "PoolId",
        "OriginationIdentity",
        "IsoCountryCode"
      ],
      "members":{
        "PoolId":{"shape":"PoolIdOrArn"},
        "OriginationIdentity":{"shape":"PhoneOrSenderIdOrArn"},
        "IsoCountryCode":{"shape":"IsoCountryCode"},
        "ClientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        }
      }
    },
    "DisassociateOriginationIdentityResult":{
      "type":"structure",
      "members":{
        "PoolArn":{"shape":"String"},
        "PoolId":{"shape":"String"},
        "OriginationIdentityArn":{"shape":"String"},
        "OriginationIdentity":{"shape":"String"},
        "IsoCountryCode":{"shape":"IsoCountryCode"}
      }
    },
    "EventDestination":{
      "type":"structure",
      "required":[
        "EventDestinationName",
        "Enabled",
        "MatchingEventTypes"
      ],
      "members":{
        "EventDestinationName":{"shape":"EventDestinationName"},
        "Enabled":{"shape":"Boolean"},
        "MatchingEventTypes":{"shape":"EventTypeList"},
        "CloudWatchLogsDestination":{"shape":"CloudWatchLogsDestination"},
        "KinesisFirehoseDestination":{"shape":"KinesisFirehoseDestination"},
        "SnsDestination":{"shape":"SnsDestination"}
      }
    },
    "EventDestinationList":{
      "type":"list",
      "member":{"shape":"EventDestination"}
    },
    "EventDestinationName":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[A-Za-z0-9_-]+"
    },
    "EventType":{
      "type":"string",
      "enum":[
        "ALL",
        "TEXT_ALL",
        "TEXT_SENT",
        "TEXT_PENDING",
        "TEXT_QUEUED",
        "TEXT_SUCCESSFUL",
        "TEXT_DELIVERED",
        "TEXT_INVALID",
        "TEXT_INVALID_MESSAGE",
        "TEXT_UNREACHABLE",
        "TEXT_CARRIER_UNREACHABLE",
        "TEXT_BLOCKED",
        "TEXT_CARRIER_BLOCKED",
        "TEXT_SPAM",
        "TEXT_UNKNOWN",
        "TEXT_TTL_EXPIRED",
        "VOICE_ALL",
        "VOICE_INITIATED",
        "VOICE_RINGING",
        "VOICE_ANSWERED",
        "VOICE_COMPLETED",
        "VOICE_BUSY",
        "VOICE_NO_ANSWER",
        "VOICE_FAILED",
        "VOICE_TTL_EXPIRED"
      ]
    },
    "EventTypeList":{
      "type":"list",
      "member":{"shape":"EventType"},
      "max":25,
      "min":1
    },
    "FilterValue":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"[A-Za-z0-9_-]+"
    },
    "FilterValueList":{
      "type":"list",
      "member":{"shape":"FilterValue"},
      "max":20,
      "min":1
    },
    "IamRoleArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"arn:\\S+"
    },
    "InternalServerException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"},
        "RequestId":{"shape":"String"}
      },
      "exception":true,
      "fault":true,
      "retryable":{"throttling":false}
    },
    "IsoCountryCode":{
      "type":"string",
      "max":2,
      "min":2,
      "pattern":"[A-Z]{2}"
    },
    "Keyword":{
      "type":"string",
      "max":30,
      "min":1,
      "pattern":"[ \\S]+"
    },
    "KeywordAction":{
      "type":"string",
      "enum":[
        "AUTOMATIC_RESPONSE",
        "OPT_OUT",
        "OPT_IN"
      ]
    },
    "KeywordFilter":{
      "type":"structure",
      "required":[
        "Name",
        "Values"
      ],
      "members":{
        "Name":{"shape":"KeywordFilterName"},
        "Values":{"shape":"FilterValueList"}
      }
    },
    "KeywordFilterList":{
      "type":"list",
      "member":{"shape":"KeywordFilter"},
      "max":20,
      "min":0
    },
    "KeywordFilterName":{
      "type":"string",
      "enum":["keyword-action"]
    },
    "KeywordInformation":{
      "type":"structure",
      "required":[
        "Keyword",
        "KeywordMessage",
        "KeywordAction"
      ],
      "members":{
        "Keyword":{"shape":"Keyword"},
        "KeywordMessage":{"shape":"KeywordMessage"},
        "KeywordAction":{"shape":"KeywordAction"}
      }
    },
    "KeywordInformationList":{
      "type":"list",
      "member":{"shape":"KeywordInformation"}
    },
    "KeywordList":{
      "type":"list",
      "member":{"shape":"Keyword"},
      "max":5,
      "min":0
    },
    "KeywordMessage":{
      "type":"string",
      "max":1600,
      "min":1,
      "pattern":"(?!\\s*$)[\\s\\S]+"
    },
    "KinesisFirehoseDestination":{
      "type":"structure",
      "required":[
        "IamRoleArn",
        "DeliveryStreamArn"
      ],
      "members":{
        "IamRoleArn":{"shape":"IamRoleArn"},
        "DeliveryStreamArn":{"shape":"DeliveryStreamArn"}
      }
    },
    "ListPoolOriginationIdentitiesRequest":{
      "type":"structure",
      "required":["PoolId"],
      "members":{
        "PoolId":{"shape":"PoolIdOrArn"},
        "Filters":{"shape":"PoolOriginationIdentitiesFilterList"},
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{"shape":"MaxResults"}
      }
    },
    "ListPoolOriginationIdentitiesResult":{
      "type":"structure",
      "members":{
        "PoolArn":{"shape":"String"},
        "PoolId":{"shape":"String"},
        "OriginationIdentities":{"shape":"OriginationIdentityMetadataList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListTagsForResourceRequest":{
      "type":"structure",
      "required":["ResourceArn"],
      "members":{
        "ResourceArn":{"shape":"AmazonResourceName"}
      }
    },
    "ListTagsForResourceResult":{
      "type":"structure",
      "members":{
        "ResourceArn":{"shape":"AmazonResourceName"},
        "Tags":{"shape":"TagList"}
      }
    },
    "LogGroupArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"arn:\\S+"
    },
    "MaxPrice":{
      "type":"string",
      "max":8,
      "min":2,
      "pattern":"[0-9]{0,2}\\.[0-9]{1,5}"
    },
    "MaxResults":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "MessageType":{
      "type":"string",
      "enum":[
        "TRANSACTIONAL",
        "PROMOTIONAL"
      ]
    },
    "MessageTypeList":{
      "type":"list",
      "member":{"shape":"MessageType"}
    },
    "MonthlyLimit":{
      "type":"long",
      "box":true,
      "max":1000000000,
      "min":0
    },
    "NextToken":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":".+"
    },
    "NonEmptyTagList":{
      "type":"list",
      "member":{"shape":"Tag"},
      "max":200,
      "min":1
    },
    "NumberCapability":{
      "type":"string",
      "enum":[
        "SMS",
        "VOICE"
      ]
    },
    "NumberCapabilityList":{
      "type":"list",
      "member":{"shape":"NumberCapability"},
      "max":2,
      "min":1
    },
    "NumberStatus":{
      "type":"string",
      "enum":[
        "PENDING",
        "ACTIVE",
        "ASSOCIATING",
        "DISASSOCIATING",
        "DELETED"
      ]
    },
    "NumberType":{
      "type":"string",
      "enum":[
        "SHORT_CODE",
        "LONG_CODE",
        "TOLL_FREE",
        "TEN_DLC"
      ]
    },
    "OptOutListInformation":{
      "type":"structure",
      "required":[
        "OptOutListArn",
        "OptOutListName",
        "CreatedTimestamp"
      ],
      "members":{
        "OptOutListArn":{"shape":"String"},
        "OptOutListName":{"shape":"OptOutListName"},
        "CreatedTimestamp":{"shape":"Timestamp"}
      }
    },
    "OptOutListInformationList":{
      "type":"list",
      "member":{"shape":"OptOutListInformation"}
    },
    "OptOutListName":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[A-Za-z0-9_-]+"
    },
    "OptOutListNameList":{
      "type":"list",
      "member":{"shape":"OptOutListNameOrArn"},
      "max":5,
      "min":0
    },
    "OptOutListNameOrArn":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[A-Za-z0-9_:/-]+"
    },
    "OptedOutFilter":{
      "type":"structure",
      "required":[
        "Name",
        "Values"
      ],
      "members":{
        "Name":{"shape":"OptedOutFilterName"},
        "Values":{"shape":"FilterValueList"}
      }
    },
    "OptedOutFilterList":{
      "type":"list",
      "member":{"shape":"OptedOutFilter"},
      "max":20,
      "min":0
    },
    "OptedOutFilterName":{
      "type":"string",
      "enum":["end-user-opted-out"]
    },
    "OptedOutNumberInformation":{
      "type":"structure",
      "required":[
        "OptedOutNumber",
        "OptedOutTimestamp",
        "EndUserOptedOut"
      ],
      "members":{
        "OptedOutNumber":{"shape":"PhoneNumber"},
        "OptedOutTimestamp":{"shape":"Timestamp"},
        "EndUserOptedOut":{"shape":"PrimitiveBoolean"}
      }
    },
    "OptedOutNumberInformationList":{
      "type":"list",
      "member":{"shape":"OptedOutNumberInformation"}
    },
    "OptedOutNumberList":{
      "type":"list",
      "member":{"shape":"PhoneNumber"},
      "max":5,
      "min":0
    },
    "OriginationIdentityMetadata":{
      "type":"structure",
      "required":[
        "OriginationIdentityArn",
        "OriginationIdentity",
        "IsoCountryCode",
        "NumberCapabilities"
      ],
      "members":{
        "OriginationIdentityArn":{"shape":"String"},
        "OriginationIdentity":{"shape":"String"},
        "IsoCountryCode":{"shape":"IsoCountryCode"},
        "NumberCapabilities":{"shape":"NumberCapabilityList"}
      }
    },
    "OriginationIdentityMetadataList":{
      "type":"list",
      "member":{"shape":"OriginationIdentityMetadata"}
    },
    "PhoneNumber":{
      "type":"string",
      "max":20,
      "min":1,
      "pattern":"\\+?[1-9][0-9]{1,18}"
    },
    "PhoneNumberFilter":{
      "type":"structure",
      "required":[
        "Name",
        "Values"
      ],
      "members":{
        "Name":{"shape":"PhoneNumberFilterName"},
        "Values":{"shape":"FilterValueList"}
      }
    },
    "PhoneNumberFilterList":{
      "type":"list",
      "member":{"shape":"PhoneNumberFilter"},
      "max":20,
      "min":0
    },
    "PhoneNumberFilterName":{
      "type":"string",
      "enum":[
        "status",
        "iso-country-code",
        "message-type",
        "number-capability",
        "number-type",
        "two-way-enabled",
        "self-managed-opt-outs-enabled",
        "opt-out-list-name",
        "deletion-protection-enabled"
      ]
    },
    "PhoneNumberIdList":{
      "type":"list",
      "member":{"shape":"PhoneNumberIdOrArn"},
      "max":5,
      "min":0
    },
    "PhoneNumberIdOrArn":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[A-Za-z0-9_:/-]+"
    },
    "PhoneNumberInformation":{
      "type":"structure",
      "required":[
        "PhoneNumberArn",
        "PhoneNumber",
        "Status",
        "IsoCountryCode",
        "MessageType",
        "NumberCapabilities",
        "NumberType",
        "MonthlyLeasingPrice",
        "TwoWayEnabled",
        "SelfManagedOptOutsEnabled",
        "OptOutListName",
        "DeletionProtectionEnabled",
        "CreatedTimestamp"
      ],
      "members":{
        "PhoneNumberArn":{"shape":"String"},
        "PhoneNumberId":{"shape":"String"},
        "PhoneNumber":{"shape":"PhoneNumber"},
        "Status":{"shape":"NumberStatus"},
        "IsoCountryCode":{"shape":"IsoCountryCode"},
        "MessageType":{"shape":"MessageType"},
        "NumberCapabilities":{"shape":"NumberCapabilityList"},
        "NumberType":{"shape":"NumberType"},
        "MonthlyLeasingPrice":{"shape":"String"},
        "TwoWayEnabled":{"shape":"PrimitiveBoolean"},
        "TwoWayChannelArn":{"shape":"TwoWayChannelArn"},
        "SelfManagedOptOutsEnabled":{"shape":"PrimitiveBoolean"},
        "OptOutListName":{"shape":"OptOutListName"},
        "DeletionProtectionEnabled":{"shape":"PrimitiveBoolean"},
        "PoolId":{"shape":"String"},
        "CreatedTimestamp":{"shape":"Timestamp"}
      }
    },
    "PhoneNumberInformationList":{
      "type":"list",
      "member":{"shape":"PhoneNumberInformation"}
    },
    "PhoneOrPoolIdOrArn":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[A-Za-z0-9_:/-]+"
    },
    "PhoneOrSenderIdOrArn":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[A-Za-z0-9_:/-]+"
    },
    "PoolFilter":{
      "type":"structure",
      "required":[
        "Name",
        "Values"
      ],
      "members":{
        "Name":{"shape":"PoolFilterName"},
        "Values":{"shape":"FilterValueList"}
      }
    },
    "PoolFilterList":{
      "type":"list",
      "member":{"shape":"PoolFilter"},
      "max":20,
      "min":0
    },
    "PoolFilterName":{
      "type":"string",
      "enum":[
        "status",
        "message-type",
        "two-way-enabled",
        "self-managed-opt-outs-enabled",
        "opt-out-list-name",
        "shared-routes-enabled",
        "deletion-protection-enabled"
      ]
    },
    "PoolIdList":{
      "type":"list",
      "member":{"shape":"PoolIdOrArn"},
      "max":5,
      "min":0
    },
    "PoolIdOrArn":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[A-Za-z0-9_:/-]+"
    },
    "PoolInformation":{
      "type":"structure",
      "required":[
        "PoolArn",
        "PoolId",
        "Status",
        "MessageType",
        "TwoWayEnabled",
        "SelfManagedOptOutsEnabled",
        "OptOutListName",
        "SharedRoutesEnabled",
        "DeletionProtectionEnabled",
        "CreatedTimestamp"
      ],
      "members":{
        "PoolArn":{"shape":"String"},
        "PoolId":{"shape":"String"},
        "Status":{"shape":"PoolStatus"},
        "MessageType":{"shape":"MessageType"},
        "TwoWayEnabled":{"shape":"PrimitiveBoolean"},
        "TwoWayChannelArn":{"shape":"TwoWayChannelArn"},
        "SelfManagedOptOutsEnabled":{"shape":"PrimitiveBoolean"},
        "OptOutListName":{"shape":"OptOutListName"},
        "SharedRoutesEnabled":{"shape":"PrimitiveBoolean"},
        "DeletionProtectionEnabled":{"shape":"PrimitiveBoolean"},
        "CreatedTimestamp":{"shape":"Timestamp"}
      }
    },
    "PoolInformationList":{
      "type":"list",
      "member":{"shape":"PoolInformation"}
    },
    "PoolOriginationIdentitiesFilter":{
      "type":"structure",
      "required":[
        "Name",
        "Values"
      ],
      "members":{
        "Name":{"shape":"PoolOriginationIdentitiesFilterName"},
        "Values":{"shape":"FilterValueList"}
      }
    },
    "PoolOriginationIdentitiesFilterList":{
      "type":"list",
      "member":{"shape":"PoolOriginationIdentitiesFilter"},
      "max":20,
      "min":0
    },
    "PoolOriginationIdentitiesFilterName":{
      "type":"string",
      "enum":[
        "iso-country-code",
        "number-capability"
      ]
    },
    "PoolStatus":{
      "type":"string",
      "enum":[
        "CREATING",
        "ACTIVE",
        "DELETING"
      ]
    },
    "PrimitiveBoolean":{"type":"boolean"},
    "PrimitiveLong":{"type":"long"},
    "PutKeywordRequest":{
      "type":"structure",
      "required":[
        "OriginationIdentity",
        "Keyword",
        "KeywordMessage"
      ],
      "members":{
        "OriginationIdentity":{"shape":"PhoneOrPoolIdOrArn"},
        "Keyword":{"shape":"Keyword"},
        "KeywordMessage":{"shape":"KeywordMessage"},
        "KeywordAction":{"shape":"KeywordAction"}
      }
    },
    "PutKeywordResult":{
      "type":"structure",
      "members":{
        "OriginationIdentityArn":{"shape":"String"},
        "OriginationIdentity":{"shape":"String"},
        "Keyword":{"shape":"Keyword"},
        "KeywordMessage":{"shape":"KeywordMessage"},
        "KeywordAction":{"shape":"KeywordAction"}
      }
    },
    "PutOptedOutNumberRequest":{
      "type":"structure",
      "required":[
        "OptOutListName",
        "OptedOutNumber"
      ],
      "members":{
        "OptOutListName":{"shape":"OptOutListNameOrArn"},
        "OptedOutNumber":{"shape":"PhoneNumber"}
      }
    },
    "PutOptedOutNumberResult":{
      "type":"structure",
      "members":{
        "OptOutListArn":{"shape":"String"},
        "OptOutListName":{"shape":"OptOutListName"},
        "OptedOutNumber":{"shape":"PhoneNumber"},
        "OptedOutTimestamp":{"shape":"Timestamp"},
        "EndUserOptedOut":{"shape":"PrimitiveBoolean"}
      }
    },
    "RegistrationId":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"\\S+"
    },
    "ReleasePhoneNumberRequest":{
      "type":"structure",
      "required":["PhoneNumberId"],
      "members":{
        "PhoneNumberId":{"shape":"PhoneNumberIdOrArn"}
      }
    },
    "ReleasePhoneNumberResult":{
      "type":"structure",
      "members":{
        "PhoneNumberArn":{"shape":"String"},
        "PhoneNumberId":{"shape":"String"},
        "PhoneNumber":{"shape":"PhoneNumber"},
        "Status":{"shape":"NumberStatus"},
        "IsoCountryCode":{"shape":"IsoCountryCode"},
        "MessageType":{"shape":"MessageType"},
        "NumberCapabilities":{"shape":"NumberCapabilityList"},
        "NumberType":{"shape":"NumberType"},
        "MonthlyLeasingPrice":{"shape":"String"},
        "TwoWayEnabled":{"shape":"PrimitiveBoolean"},
        "TwoWayChannelArn":{"shape":"TwoWayChannelArn"},
        "SelfManagedOptOutsEnabled":{"shape":"PrimitiveBoolean"},
        "OptOutListName":{"shape":"OptOutListName"},
        "CreatedTimestamp":{"shape":"Timestamp"}
      }
    },
    "RequestPhoneNumberRequest":{
      "type":"structure",
      "required":[
        "IsoCountryCode",
        "MessageType",
        "NumberCapabilities",
        "NumberType"
      ],
      "members":{
        "IsoCountryCode":{"shape":"IsoCountryCode"},
        "MessageType":{"shape":"MessageType"},
        "NumberCapabilities":{"shape":"NumberCapabilityList"},
        "NumberType":{"shape":"RequestableNumberType"},
        "OptOutListName":{"shape":"OptOutListNameOrArn"},
        "PoolId":{"shape":"PoolIdOrArn"},
        "RegistrationId":{"shape":"RegistrationId"},
        "DeletionProtectionEnabled":{"shape":"Boolean"},
        "Tags":{"shape":"TagList"},
        "ClientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        }
      }
    },
    "RequestPhoneNumberResult":{
      "type":"structure",
      "members":{
        "PhoneNumberArn":{"shape":"String"},
        "PhoneNumberId":{"shape":"String"},
        "PhoneNumber":{"shape":"PhoneNumber"},
        "Status":{"shape":"NumberStatus"},
        "IsoCountryCode":{"shape":"IsoCountryCode"},
        "MessageType":{"shape":"MessageType"},
        "NumberCapabilities":{"shape":"NumberCapabilityList"},
        "NumberType":{"shape":"RequestableNumberType"},
        "MonthlyLeasingPrice":{"shape":"String"},
        "TwoWayEnabled":{"shape":"PrimitiveBoolean"},
        "TwoWayChannelArn":{"shape":"TwoWayChannelArn"},
        "SelfManagedOptOutsEnabled":{"shape":"PrimitiveBoolean"},
        "OptOutListName":{"shape":"OptOutListName"},
        "DeletionProtectionEnabled":{"shape":"PrimitiveBoolean"},
        "PoolId":{"shape":"String"},
        "Tags":{"shape":"TagList"},
        "CreatedTimestamp":{"shape":"Timestamp"}
      }
    },
    "RequestableNumberType":{
      "type":"string",
      "enum":[
        "LONG_CODE",
        "TOLL_FREE",
        "TEN_DLC"
      ]
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"},
        "ResourceType":{"shape":"ResourceType"},
        "ResourceId":{"shape":"String"}
      },
      "exception":true
    },
    "ResourceType":{
      "type":"string",
      "enum":[
        "account",
        "phone-number",
        "sender-id",
        "pool",
        "configuration-set",
        "opt-out-list",
        "event-destination",
        "keyword",
        "opted-out-number",
        "registration"
      ]
    },
    "SendTextMessageRequest":{
      "type":"structure",
      "required":["DestinationPhoneNumber"],
      "members":{
        "DestinationPhoneNumber":{"shape":"PhoneNumber"},
        "OriginationIdentity":{"shape":"TextMessageOriginationIdentity"},
        "MessageBody":{"shape":"TextMessageBody"},
        "MessageType":{"shape":"MessageType"},
        "Keyword":{"shape":"Keyword"},
        "ConfigurationSetName":{"shape":"ConfigurationSetNameOrArn"},
        "MaxPrice":{"shape":"MaxPrice"},
        "TimeToLive":{"shape":"TimeToLive"},
        "Context":{"shape":"ContextMap"},
        "DestinationCountryParameters":{"shape":"DestinationCountryParameters"},
        "DryRun":{"shape":"PrimitiveBoolean"}
      }
    },
    "SendTextMessageResult":{
      "type":"structure",
      "members":{
        "MessageId":{"shape":"String"}
      }
    },
    "SendVoiceMessageRequest":{
      "type":"structure",
      "required":[
        "DestinationPhoneNumber",
        "OriginationIdentity"
      ],
      "members":{
        "DestinationPhoneNumber":{"shape":"PhoneNumber"},
        "OriginationIdentity":{"shape":"VoiceMessageOriginationIdentity"},
        "MessageBody":{"shape":"VoiceMessageBody"},
        "MessageBodyTextType":{"shape":"VoiceMessageBodyTextType"},
        "VoiceId":{"shape":"VoiceId"},
        "ConfigurationSetName":{"shape":"ConfigurationSetNameOrArn"},
        "MaxPricePerMinute":{"shape":"MaxPrice"},
        "TimeToLive":{"shape":"TimeToLive"},
        "Context":{"shape":"ContextMap"},
        "DryRun":{"shape":"PrimitiveBoolean"}
      }
    },
    "SendVoiceMessageResult":{
      "type":"structure",
      "members":{
        "MessageId":{"shape":"String"}
      }
    },
    "SenderId":{
      "type":"string",
      "max":11,
      "min":1,
      "pattern":"[A-Za-z0-9_-]+"
    },
    "SenderIdAndCountry":{
      "type":"structure",
      "required":[
        "SenderId",
        "IsoCountryCode"
      ],
      "members":{
        "SenderId":{"shape":"SenderIdOrArn"},
        "IsoCountryCode":{"shape":"IsoCountryCode"}
      }
    },
    "SenderIdFilter":{
      "type":"structure",
      "required":[
        "Name",
        "Values"
      ],
      "members":{
        "Name":{"shape":"SenderIdFilterName"},
        "Values":{"shape":"FilterValueList"}
      }
    },
    "SenderIdFilterList":{
      "type":"list",
      "member":{"shape":"SenderIdFilter"},
      "max":20,
      "min":0
    },
    "SenderIdFilterName":{
      "type":"string",
      "enum":[
        "sender-id",
        "iso-country-code",
        "message-type"
      ]
    },
    "SenderIdInformation":{
      "type":"structure",
      "required":[
        "SenderIdArn",
        "SenderId",
        "IsoCountryCode",
        "MessageTypes",
        "MonthlyLeasingPrice"
      ],
      "members":{
        "SenderIdArn":{"shape":"String"},
        "SenderId":{"shape":"SenderId"},
        "IsoCountryCode":{"shape":"IsoCountryCode"},
        "MessageTypes":{"shape":"MessageTypeList"},
        "MonthlyLeasingPrice":{"shape":"String"}
      }
    },
    "SenderIdInformationList":{
      "type":"list",
      "member":{"shape":"SenderIdInformation"}
    },
    "SenderIdList":{
      "type":"list",
      "member":{"shape":"SenderIdAndCountry"},
      "max":5,
      "min":0
    },
    "SenderIdOrArn":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[A-Za-z0-9_:/-]+"
    },
    "ServiceQuotaExceededException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"},
        "Reason":{"shape":"ServiceQuotaExceededExceptionReason"}
      },
      "exception":true
    },
    "ServiceQuotaExceededExceptionReason":{
      "type":"string",
      "enum":[
        "CONFIGURATION_SETS_PER_ACCOUNT",
        "DAILY_DESTINATION_CALL_LIMIT",
        "EVENT_DESTINATIONS_PER_CONFIGURATION_SET",
        "KEYWORDS_PER_PHONE_NUMBER",
        "KEYWORDS_PER_POOL",
        "MONTHLY_SPEND_LIMIT_REACHED_FOR_TEXT",
        "MONTHLY_SPEND_LIMIT_REACHED_FOR_VOICE",
        "OPT_OUT_LISTS_PER_ACCOUNT",
        "ORIGINATION_IDENTITIES_PER_POOL",
        "PHONE_NUMBERS_PER_ACCOUNT",
        "PHONE_NUMBERS_PER_REGISTRATION",
        "POOLS_PER_ACCOUNT",
        "TAGS_PER_RESOURCE"
      ]
    },
    "SetDefaultMessageTypeRequest":{
      "type":"structure",
      "required":[
        "ConfigurationSetName",
        "MessageType"
      ],
      "members":{
        "ConfigurationSetName":{"shape":"ConfigurationSetNameOrArn"},
        "MessageType":{"shape":"MessageType"}
      }
    },
    "SetDefaultMessageTypeResult":{
      "type":"structure",
      "members":{
        "ConfigurationSetArn":{"shape":"String"},
        "ConfigurationSetName":{"shape":"ConfigurationSetName"},
        "MessageType":{"shape":"MessageType"}
      }
    },
    "SetDefaultSenderIdRequest":{
      "type":"structure",
      "required":[
        "ConfigurationSetName",
        "SenderId"
      ],
      "members":{
        "ConfigurationSetName":{"shape":"ConfigurationSetNameOrArn"},
        "SenderId":{"shape":"SenderId"}
      }
    },
    "SetDefaultSenderIdResult":{
      "type":"structure",
      "members":{
        "ConfigurationSetArn":{"shape":"String"},
        "ConfigurationSetName":{"shape":"ConfigurationSetName"},
        "SenderId":{"shape":"SenderId"}
      }
    },
    "SetTextMessageSpendLimitOverrideRequest":{
      "type":"structure",
      "required":["MonthlyLimit"],
      "members":{
        "MonthlyLimit":{"shape":"MonthlyLimit"}
      }
    },
    "SetTextMessageSpendLimitOverrideResult":{
      "type":"structure",
      "members":{
        "MonthlyLimit":{"shape":"MonthlyLimit"}
      }
    },
    "SetVoiceMessageSpendLimitOverrideRequest":{
      "type":"structure",
      "required":["MonthlyLimit"],
      "members":{
        "MonthlyLimit":{"shape":"MonthlyLimit"}
      }
    },
    "SetVoiceMessageSpendLimitOverrideResult":{
      "type":"structure",
      "members":{
        "MonthlyLimit":{"shape":"MonthlyLimit"}
      }
    },
    "SnsDestination":{
      "type":"structure",
      "required":["TopicArn"],
      "members":{
        "TopicArn":{"shape":"SnsTopicArn"}
      }
    },
    "SnsTopicArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"arn:\\S+"
    },
    "SpendLimit":{
      "type":"structure",
      "required":[
        "Name",
        "EnforcedLimit",
        "MaxLimit",
        "Overridden"
      ],
      "members":{
        "Name":{"shape":"SpendLimitName"},
        "EnforcedLimit":{"shape":"PrimitiveLong"},
        "MaxLimit":{"shape":"PrimitiveLong"},
        "Overridden":{"shape":"PrimitiveBoolean"}
      }
    },
    "SpendLimitList":{
      "type":"list",
      "member":{"shape":"SpendLimit"}
    },
    "SpendLimitName":{
      "type":"string",
      "enum":[
        "TEXT_MESSAGE_MONTHLY_SPEND_LIMIT",
        "VOICE_MESSAGE_MONTHLY_SPEND_LIMIT"
      ]
    },
    "String":{"type":"string"},
    "Tag":{
      "type":"structure",
      "required":[
        "Key",
        "Value"
      ],
      "members":{
        "Key":{"shape":"TagKey"},
        "Value":{"shape":"TagValue"}
      }
    },
    "TagKey":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":".+"
    },
    "TagKeyList":{
      "type":"list",
      "member":{"shape":"TagKey"},
      "max":200,
      "min":1
    },
    "TagList":{
      "type":"list",
      "member":{"shape":"Tag"},
      "max":200,
      "min":0
    },
    "TagResourceRequest":{
      "type":"structure",
      "required":[
        "ResourceArn",
        "Tags"
      ],
      "members":{
        "ResourceArn":{"shape":"AmazonResourceName"},
        "Tags":{"shape":"NonEmptyTagList"}
      }
    },
    "TagResourceResult":{
      "type":"structure",
      "members":{
      }
    },
    "TagValue":{
      "type":"string",
      "max":256,
      "min":0,
      "pattern":".*"
    },
    "TextMessageBody":{
      "type":"string",
      "max":1600,
      "min":1,
      "pattern":"(?!\\s*$)[\\s\\S]+"
    },
    "TextMessageOriginationIdentity":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[A-Za-z0-9_:/\\+-]+"
    },
    "ThrottlingException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true,
      "retryable":{"throttling":true}
    },
    "TimeToLive":{
      "type":"integer",
      "box":true,
      "max":259200,
      "min":5
    },
    "Timestamp":{"type":"timestamp"},
    "TwoWayChannelArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"arn:\\S+"
    },
    "UntagResourceRequest":{
      "type":"structure",
      "required":[
        "ResourceArn",
        "TagKeys"
      ],
      "members":{
        "ResourceArn":{"shape":"AmazonResourceName"},
        "TagKeys":{"shape":"TagKeyList"}
      }
    },
    "UntagResourceResult":{
      "type":"structure",
      "members":{
      }
    },
    "UpdateEventDestinationRequest":{
      "type":"structure",
      "required":[
        "ConfigurationSetName",
        "EventDestinationName"
      ],
      "members":{
        "ConfigurationSetName":{"shape":"ConfigurationSetNameOrArn"},
        "EventDestinationName":{"shape":"EventDestinationName"},
        "Enabled":{"shape":"Boolean"},
        "MatchingEventTypes":{"shape":"EventTypeList"},
        "CloudWatchLogsDestination":{"shape":"CloudWatchLogsDestination"},
        "KinesisFirehoseDestination":{"shape":"KinesisFirehoseDestination"},
        "SnsDestination":{"shape":"SnsDestination"}
      }
    },
    "UpdateEventDestinationResult":{
      "type":"structure",
      "members":{
        "ConfigurationSetArn":{"shape":"String"},
        "ConfigurationSetName":{"shape":"ConfigurationSetName"},
        "EventDestination":{"shape":"EventDestination"}
      }
    },
    "UpdatePhoneNumberRequest":{
      "type":"structure",
      "required":["PhoneNumberId"],
      "members":{
        "PhoneNumberId":{"shape":"PhoneNumberIdOrArn"},
        "TwoWayEnabled":{"shape":"Boolean"},
        "TwoWayChannelArn":{"shape":"TwoWayChannelArn"},
        "SelfManagedOptOutsEnabled":{"shape":"Boolean"},
        "OptOutListName":{"shape":"OptOutListNameOrArn"},
        "DeletionProtectionEnabled":{"shape":"Boolean"}
      }
    },
    "UpdatePhoneNumberResult":{
      "type":"structure",
      "members":{
        "PhoneNumberArn":{"shape":"String"},
        "PhoneNumberId":{"shape":"String"},
        "PhoneNumber":{"shape":"PhoneNumber"},
        "Status":{"shape":"NumberStatus"},
        "IsoCountryCode":{"shape":"IsoCountryCode"},
        "MessageType":{"shape":"MessageType"},
        "NumberCapabilities":{"shape":"NumberCapabilityList"},
        "NumberType":{"shape":"NumberType"},
        "MonthlyLeasingPrice":{"shape":"String"},
        "TwoWayEnabled":{"shape":"PrimitiveBoolean"},
        "TwoWayChannelArn":{"shape":"TwoWayChannelArn"},
        "SelfManagedOptOutsEnabled":{"shape":"PrimitiveBoolean"},
        "OptOutListName":{"shape":"OptOutListName"},
        "DeletionProtectionEnabled":{"shape":"PrimitiveBoolean"},
        "CreatedTimestamp":{"shape":"Timestamp"}
      }
    },
    "UpdatePoolRequest":{
      "type":"structure",
      "required":["PoolId"],
      "members":{
        "PoolId":{"shape":"PoolIdOrArn"},
        "TwoWayEnabled":{"shape":"Boolean"},
        "TwoWayChannelArn":{"shape":"TwoWayChannelArn"},
        "SelfManagedOptOutsEnabled":{"shape":"Boolean"},
        "OptOutListName":{"shape":"OptOutListNameOrArn"},
        "SharedRoutesEnabled":{"shape":"Boolean"},
        "DeletionProtectionEnabled":{"shape":"Boolean"}
      }
    },
    "UpdatePoolResult":{
      "type":"structure",
      "members":{
        "PoolArn":{"shape":"String"},
        "PoolId":{"shape":"String"},
        "Status":{"shape":"PoolStatus"},
        "MessageType":{"shape":"MessageType"},
        "TwoWayEnabled":{"shape":"PrimitiveBoolean"},
        "TwoWayChannelArn":{"shape":"TwoWayChannelArn"},
        "SelfManagedOptOutsEnabled":{"shape":"PrimitiveBoolean"},
        "OptOutListName":{"shape":"OptOutListName"},
        "SharedRoutesEnabled":{"shape":"PrimitiveBoolean"},
        "DeletionProtectionEnabled":{"shape":"PrimitiveBoolean"},
        "CreatedTimestamp":{"shape":"Timestamp"}
      }
    },
    "ValidationException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"},
        "Reason":{"shape":"ValidationExceptionReason"},
        "Fields":{"shape":"ValidationExceptionFieldList"}
      },
      "exception":true
    },
    "ValidationExceptionField":{
      "type":"structure",
      "required":[
        "Name",
        "Message"
      ],
      "members":{
        "Name":{"shape":"String"},
        "Message":{"shape":"String"}
      }
    },
    "ValidationExceptionFieldList":{
      "type":"list",
      "member":{"shape":"ValidationExceptionField"}
    },
    "ValidationExceptionReason":{
      "type":"string",
      "enum":[
        "UNKNOWN_OPERATION",
        "CANNOT_PARSE",
        "FIELD_VALIDATION_FAILED",
        "OTHER",
        "INVALID_PARAMETER",
        "INVALID_ARN",
        "INVALID_IDENTITY_FOR_DESTINATION_COUNTRY",
        "DESTINATION_COUNTRY_BLOCKED",
        "CANNOT_ADD_OPTED_OUT_NUMBER",
        "COUNTRY_CODE_MISMATCH",
        "INVALID_FILTER_VALUES",
        "INVALID_NEXT_TOKEN",
        "MISSING_PARAMETER",
        "PARAMETERS_CANNOT_BE_USED_TOGETHER",
        "PHONE_NUMBER_CANNOT_BE_OPTED_IN",
        "PHONE_NUMBER_CANNOT_BE_RELEASED",
        "PRICE_OVER_THRESHOLD",
        "REQUESTED_SPEND_LIMIT_HIGHER_THAN_SERVICE_LIMIT",
        "SENDER_ID_NOT_REGISTERED",
        "SENDER_ID_NOT_SUPPORTED",
        "TWO_WAY_NOT_ENABLED",
        "TWO_WAY_NOT_SUPPORTED_IN_COUNTRY",
        "TWO_WAY_NOT_SUPPORTED_IN_REGION",
        "TWO_WAY_TOPIC_NOT_PRESENT"
      ]
    },
    "VoiceId":{
      "type":"string",
      "enum":[
        "AMY",
        "ASTRID",
        "BIANCA",
        "BRIAN",
        "CAMILA",
        "CARLA",
        "CARMEN",
        "CELINE",
        "CHANTAL",
        "CONCHITA",
        "CRISTIANO",
        "DORA",
        "EMMA",
        "ENRIQUE",
        "EWA",
        "FILIZ",
        "GERAINT",
        "GIORGIO",
        "GWYNETH",
        "HANS",
        "INES",
        "IVY",
        "JACEK",
        "JAN",
        "JOANNA",
        "JOEY",
        "JUSTIN",
        "KARL",
        "KENDRA",
        "KIMBERLY",
        "LEA",
        "LIV",
        "LOTTE",
        "LUCIA",
        "LUPE",
        "MADS",
        "MAJA",
        "MARLENE",
        "MATHIEU",
        "MATTHEW",
        "MAXIM",
        "MIA",
        "MIGUEL",
        "MIZUKI",
        "NAJA",
        "NICOLE",
        "PENELOPE",
        "RAVEENA",
        "RICARDO",
        "RUBEN",
        "RUSSELL",
        "SALLI",
        "SEOYEON",
        "TAKUMI",
        "TATYANA",
        "VICKI",
        "VITORIA",
        "ZEINA",
        "ZHIYU"
      ]
    },
    "VoiceMessageBody":{
      "type":"string",
      "max":6000,
      "min":1,
      "pattern":"(?!\\s*$)[\\s\\S]+"
    },
    "VoiceMessageBodyTextType":{
      "type":"string",
      "enum":[
        "TEXT",
        "SSML"
      ]
    },
    "VoiceMessageOriginationIdentity":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[A-Za-z0-9_:/\\+-]+"
    }
  }
}
